@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?48517849');
	src: url('../fonts/fontello.eot?48517849#iefix') format('embedded-opentype'),
	url('../fonts/fontello.woff2?48517849') format('woff2'),
	url('../fonts/fontello.woff?48517849') format('woff'),
	url('../fonts/fontello.ttf?48517849') format('truetype'),
	url('../fonts/fontello.svg?48517849#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Adventure';
	src: url('../fonts/subset-Adventure.eot');
	src: url('../fonts/subset-Adventure.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-Adventure.woff2') format('woff2'),
	url('../fonts/subset-Adventure.woff') format('woff'),
	url('../fonts/subset-Adventure.ttf') format('truetype'),
	url('../fonts/subset-Adventure.svg#Adventure') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Rouble Sans';
	src: url('../fonts/subset-PTRoubleSans.eot');
	src: url('../fonts/subset-PTRoubleSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/subset-PTRoubleSans.woff2') format('woff2'),
	url('../fonts/subset-PTRoubleSans.woff') format('woff'),
	url('../fonts/subset-PTRoubleSans.ttf') format('truetype'),
	url('../fonts/subset-PTRoubleSans.svg#PTRoubleSans') format('svg');
	font-weight: normal;
	font-style: normal;
}



//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               true!default;
$use-pager:                    true!default;
$use-space:                    false!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    true!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;



// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";
@import "vendors/hamburgers/hamburgers.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";
