.accordion-content
	- for (var x = 1; x < 3; x++)
		.accordion-content__item
			h5 Название вакансии здесь
			.subheader условия
			ul
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
			.subheader требования
			ul
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
				li Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях
			a.btn.btn--primary.popup-modal(href='#send') отправить анкету
