.gallery
	.gallery-column-h.nonsquare
		a.gallery-item(href='#')
			.title Хлеб
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-2.jpg', alt='')
	.gallery-column-h
		a.gallery-item(href='#')
			.title Торты и пирожные
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-3.jpg', alt='')
		a.gallery-item(href='#')
			.title Пироги #[br] и пирожки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-4.jpg', alt='')
	.gallery-column-f
		a.gallery-item(href='#')
			.title Слойка
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-5.jpg', alt='')
		a.gallery-item(href='#')
			.title Сдоба, кексы
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-5.jpg', alt='')
	.gallery-column-f
		a.gallery-item(href='#')
			.title Кухня
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-7.jpg', alt='')
		a.gallery-item.visible__xs.visible__sm(href='#')
			.title Сэндвичи
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-8.jpg', alt='')
	.gallery-column-f.hidden__sm.hidden__xs
		a.gallery-item(href='#')
			.title Сэндвичи
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-8.jpg', alt='')
	.gallery-column-f.gallery-column-fh.nonsquare
		a.gallery-item(href='#')
			.title Напитки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-9.jpg', alt='')
	.gallery-column-h
		a.gallery-item(href='#')
			.title Бизнес-ланчи/Завтраки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-10.jpg', alt='')
