.gallery
	.gallery-column-f.grid-item(class='bagets')
		.gallery-item
			+galleryInner(1)
			img(src='images/index/slide-11.jpg', alt='')
	.gallery-column-f.grid-item(class='rye')
		.gallery-item
			.stock
			+galleryInner(2)
			img(src='images/index/slide-12.jpg', alt='')
	.gallery-column-f.grid-item(class='wheat')
		.gallery-item
			+galleryInner(3)
			img(src='images/index/slide-13.jpg', alt='')
	.gallery-column-f.grid-item(class='rye')
		.gallery-item
			.stock
			+galleryInner(4)
			img(src='images/index/slide-14.jpg', alt='')
	.gallery-column-f.grid-item(class='ryewheat')
		.gallery-item
			+galleryInner(5)
			img(src='images/index/slide-15.jpg', alt='')
	.gallery-column-f.grid-item(class='bagets')
		.gallery-item
			+galleryInner(6)
			img(src='images/index/slide-16.jpg', alt='')
	.gallery-column-f.grid-item(class='transition')
		.gallery-item
			+galleryInner(1)
			img(src='images/index/slide-17.jpg', alt='')
	.gallery-column-f.grid-item(class='unstoppable')
		.gallery-item
			.stock
			+galleryInner(2)
			img(src='images/index/slide-18.jpg', alt='')
	.gallery-column-f.grid-item(class='bagets')
		.gallery-item
			+galleryInner(3)
			img(src='images/index/slide-19.jpg', alt='')
	.gallery-column-f.grid-item(class='bagets')
		.gallery-item
			+galleryInner(4)
			img(src='images/index/slide-20.jpg', alt='')
	.gallery-column-f.grid-item(class='unstoppable')
		.gallery-item
			.stock
			+galleryInner(5)
			img(src='images/index/slide-21.jpg', alt='')
	.gallery-column-f.grid-item(class='rye')
		.gallery-item
			.stock
			+galleryInner(6)
			img(src='images/index/slide-22.jpg', alt='')
	.gallery-column-f.grid-item(class='wheat')
		.gallery-item
			+galleryInner(5)
			img(src='images/index/slide-23.jpg', alt='')
	.gallery-column-f.grid-item(class='rye')
		.gallery-item
			+galleryInner(1)
			img(src='images/index/slide-24.jpg', alt='')
	.gallery-column-f.grid-item(class='unstoppable')
		.gallery-item
			+galleryInner(2)
			img(src='images/index/slide-25.jpg', alt='')
	.gallery-column-f.grid-item(class='ryewheat')
		.gallery-item
			+galleryInner(3)
			img(src='images/index/slide-26.jpg', alt='')
	.gallery-column-f.grid-item(class='wheat')
		.gallery-item
			+galleryInner(4)
			img(src='images/index/slide-27.jpg', alt='')
	.gallery-column-f.grid-item(class='unstoppable')
		.gallery-item
			.stock
			+galleryInner(5)
			img(src='images/index/slide-28.jpg', alt='')
	.gallery-column-f.grid-item(class='ryewheat')
		.gallery-item
			+galleryInner(6)
			img(src='images/index/slide-29.jpg', alt='')
	.gallery-column-f.grid-item(class='wheat')
		.gallery-item
			+galleryInner(1)
			img(src='images/index/slide-30.jpg', alt='')
