.gallery
	.gallery-column-main.nonsquare
		a.gallery-item(href='#')
			.title Хлеб
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-2.jpg', alt='')
	.gallery-column-long.gallery-column-long--half
		a.gallery-item(href='#')
			.title Торты и пирожные
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-3.jpg', alt='')
		a.gallery-item.hidden__xs.hidden__sm(href='#')
			.title Пироги #[br] и пирожки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-4.jpg', alt='')
	.gallery-column-squad.is-col__md-7.is-col__xs-12
		a.gallery-item.visible__xs.visible__sm(href='#')
			.title Пироги #[br] и пирожки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-4.jpg', alt='')
		a.gallery-item(href='#')
			.title Слойка
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-5.jpg', alt='')
		a.gallery-item(href='#')
			.title Сдоба, кексы
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-5.jpg', alt='')
		a.gallery-item(href='#')
			.title Напитки
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-9.jpg', alt='')
	.gallery-column-long.is-col__md-5.is-col__xs-12
		a.gallery-item(href='#')
			.title Кухня
			.link
				span подробнее
				i.icon-right-open
			img(src='images/index/slide-4.jpg', alt='')
