.item
	.icon-location
	div Литейный  пр-т, д. 8
.item
	.icon-phone
	div +7 (812) 340-40-40
.item
	.icon-clock
	div.text__sm.text--uppercase ПН-ПТ 10 - 21 &nbsp;&nbsp;&nbsp; сб-вс 11 - 22
.item
	.icon-
	a(href='#') Открыть 3D-Тур
