nav.nav
	button.hamburger.hamburger--slider.hamburger--js(type="button")
		span.hamburger-box
			span.hamburger-inner
	.main-nav__collapse
		ul.main-nav
			li.main-nav__item.main-nav__item--parent
				a.main-nav__link(href='#') Продукция
				.submenu
					.is-row
						.is-col.is-col__lg-4.is-col__xs-12.hidden__md
							a.naming(href="#")
								h4 Акции
								img.hidden__xl.hidden__lg(src='images/menu-m.jpg', alt='')
								img.hidden__xs.hidden__sm.hidden__md(src='images/menu.jpg', alt='')
						.is-col.is-col__lg-8.is-col__xs-12
							ul.sub-nav
								li.main-nav__item
									a.main-nav__link(href='#') хлеба
								li.main-nav__item
									a.main-nav__link(href='#') слойки
								li.main-nav__item
									a.main-nav__link(href='#') сдобы и кексы
								li.main-nav__item
									a.main-nav__link(href='#') торты и пирожные
								li.main-nav__item
									a.main-nav__link(href='#') пироги и пирожки
								li.main-nav__item
									a.main-nav__link(href='#') Бизнес-ланчи и завтраки
								li.main-nav__item
									a.main-nav__link(href='#') кухня
								li.main-nav__item
									a.main-nav__link(href='#') напитки
								li.main-nav__item
									a.main-nav__link(href='#') сендвичи
			li.main-nav__item
				a.main-nav__link(href='#') Условия предзаказа
			li.main-nav__item
				a.main-nav__link(href='#') Карта гостя
			li.main-nav__item
				a.main-nav__link(href='#') Работа
			li.main-nav__item.main-nav__item--parent
				a.main-nav__link(href='#') О нас
				.submenu
					ul
						li
							a.main-nav__link(href='#') Правовая информация
						li
							a.main-nav__link(href='#') Корпоративные продажи
		.hidden__md.hidden__lg.hidden__xl.margTop-auto
			.flex.between__xs.middle__xs
				.page-header__loc
					a(href='#')
						i.icon-location
						span пекарни
				.social
					a(href='#'): i.icon-vkontakte
					a(href='#'): i.icon-instagram
