#modal.mfp-hide.white-popup-block
	form(method='POST', action='')
		.text--center
			h3 Товар добавлен в корзину
		table.table
			tbody
				tr
					td
						img(src='images/cart.jpg', alt='')
					td
						div Пирог с красной рыбой 1,5 кг
						.visible__sm.visible__xs
							span 760 #[span.ruble ф]
							b.cart-summ 760 #[span.ruble ф]
					td.hidden__sm.hidden__xs
						span 760 #[span.ruble ф]
					td.cart-summ.hidden__sm.hidden__xs: b 760 #[span.ruble ф]
		.text--center
			a.btn.btn--primary(href='#')
				span оформить заказ
			a.btn.btn--outlined.popup-modal-dismiss(href='#')
				span продолжить покупки

#send.mfp-hide.white-popup-block
	.close-popup.popup-modal-dismiss: img(src='images/icons/close-pop.png', alt='close')
	form.form(method='POST', action='')
		.text--center
			h3 Отправить анкету
		div
			+fieldInput('text', 'name', 'name', 'ФИО*', '', false, true)
			+fieldInput('text', 'phone', 'number', 'Как с вами связаться? *', '', false, true)
			+fieldInput('email', 'mail', 'mail', 'Email', '', false, true)
			.form__group
				.file_upload
					span.icon-plus
					span.button Прикрепить резюме
					input(type="file")
			+fieldCheckbox('Я согласен на обработку моих ПДН, ознакомиться с политикой конфинденциальности', 'sign', false)
			button.btn.btn--primary.btn--full.btn--js(type='submit') Отправить
		.text--center.sent-form
			h4 Спасибо! Ваша заявка принята. #[br] Мы свяжемся с Вами в ближайшее время.
			.is-col__md-6.is-col__xs-12
				a.btn.btn--primary.btn--full.sent--js отправить еще

#mapsme.mfp-hide.white-popup-block
	.close-popup.popup-modal-dismiss: img(src='images/icons/close-pop.png', alt='close')
	h2 Карта или что
