//
// Base -> Buttons
// --------------------------------------------------

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: $btn-font-weight;
	touch-action: manipulation;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 1.92px;
	border: 2px solid transparent;

	@include button-size(10px, $padding-base-horizontal, $font-size-tiny, 1, $btn-border-radius-base);
	text-transform: uppercase;
	height: 50px;
	min-width: 150px;

	&:hover,
	&:focus,
	&.focus {
		color: $btn-default-color;
		text-decoration: none;
	}

	span, i {
		vertical-align: middle;
	}
	i {
		margin-right: 3px;
		@media screen and (min-width: $screen-xl-min) {
			margin-right: 10px;
		}
	}

	&--full {
		width: 100%;

		& + & {
			margin-top: 5px;
		}
	}

	&--natural {
		vertical-align: baseline;
		font-size: inherit;
		line-height: inherit;
		padding-right: 0.5em;
		padding-left: 0.5em;
	}

	// Button with icon
	&__icon {
		position: relative;
	}

	&__icon--left {
		padding-left: $base-padding * 2;

		.icon {
			position: absolute;
			top: 0;
			left: $base-padding;
		}
	}

	&__icon--right {
		padding-left: $base-padding * 2;

		.icon {
			position: absolute;
			top: 0;
			right: $base-padding;
		}
	}

	&--default {
		@include button-variant-tr($btn-default-color, $btn-default-bg, $btn-default-border);
	}


	// Color buttons
	@if $use-btn-color == true {
		&--primary {
			@include button-variant-tr($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
		&--success {
			@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
		}
		&--info {
			font-size: 16px;
			border-style: dashed;
			border-width: 1px;
			@include button-variant-tr($btn-info-color, $btn-info-bg, $btn-info-border);
		}
		&--warning {
			@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
		}
		&--danger {
			@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
		&--outlined {
			@include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);

		}
	}

	// Button Sizes
	@if $use-btn-size == true {
		&__lg {
			@include button-size($padding-large-vertical, $padding-large-horizontal, $base-font-size, $line-height-btn, $btn-border-radius-large);
			height: 60px;
		}
		&__sm {
			@include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
			height: 40px;
		}
		&__xs {
			@include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
			height: 35px;
		}
	}

	&--round {
		@include border-radius(50px);
	}

	// Button group
	@if $use-btn-group == true {
		&-group {
			position: relative;
			display: inline-block;
			vertical-align: middle;

			> .btn {
				position: relative;
				float: left;

				&:first-child {
					margin-left: 0;

					&:not(:last-child) {
						@include border-right-radius(0);
					}
				}

				&:last-child:not(:first-child) {
					@include border-left-radius(0);
				}

				&:not(:first-child):not(:last-child) {
					border-radius: 0;
				}

				+ .btn {
					margin-left: -1px;
				}
			}

			&--justified {
				display: table;
				width: 100%;
				table-layout: fixed;
				border-collapse: separate;

				> .btn {
					float: none;
					display: table-cell;
					width: 1%;
				}
			}
		}
	}
}
