//
// Modules -> Forms
// --------------------------------------------------


fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: $line-height-computed;
	font-size: ($base-font-size * 1.5);
	line-height: inherit;
	color: $legend-color;
	border: 0;
}

label {
	max-width: 100%;
	margin-bottom: 10px;
	font-size: 15px;
	color: $black;
	@media screen and (min-width: $screen-md-min) {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.error {
		font-size: 13px;
		font-weight: 400;
		color: $color-type-2a;
	}
	.error &,
	&.label-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


input[type="search"] {
	@include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9
; // IE8-9
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple],
select[size] {
	height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus;
}


// Common form controls
.control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 10px 20px;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $input-color;
	background-color: $input-bg;
	background-image: none;
	border: 1px solid $input-border;
	border-radius: $input-border-radius;
	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	.error & {
		border-color: $color-type-2a;
	}

	@include form-control-focus;

	@include placeholder;
	font-family: $base-font-family;

	&.datepicker-here {
		background: url("../images/icons/arrow-down.png") no-repeat center right 10px;
	}

}

// Reset height for `textarea`s
textarea.control {
	height: auto;
	resize: none;
}

select.control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 30px;
	background: url("../images/icons/arrow-down.png") no-repeat center right 10px, $input-bg;

	&:focus {
		background: url("../images/icons/arrow-up.png") no-repeat center right 10px, $input-bg;
	}
}

// Search inputs in iOS
input[type="search"] {
	-webkit-appearance: none;
}


.form__group {
	margin-bottom: 10px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: $form-group-margin-bottom;
	}
}


// Checkboxes and radios
.radio,
.checkbox {
	position: relative;
	display: block;

	label {
		padding-left: 30px;
		margin: 0;
		cursor: pointer;
		font-size: 13px;
		font-weight: 400;
		display: block;
		@media screen and (min-width: $screen-md-min) {
			font-size: 16px;
			padding-left: 43px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -3px;
			left: 0;
			display: block;
			width: 26px;
			height: 26px;
			border: 1px solid #e1e1e1;
			background-color: $input-bg;

		}
	}
	&.error {
		label {
			//color: $color-type-2a;
			&:after {
				border-color: $color-type-2a;
			}
		}
	}
}


.checkbox {
	input[type="checkbox"] {
		display: none;
	}
}

.radio {
	input[type="radio"] {
		display: none;
	}
}

.checkbox label {
	&:after {
		@include border-radius(2px);
	}
}

.radio label {
	&:after {
		@include border-radius(50%);
	}
}

.checkbox input[type="checkbox"]:checked + label:after {
	background: url('../images/icons/icon-checkbox.png') center center no-repeat, $input-bg;
}

.radio input[type="radio"]:checked + label:after {
	background: url('../images/icons/icon-radio.svg') center center no-repeat, $input-bg;
}


.radio + .radio,
.checkbox + .checkbox {
	margin-top: 20px;
}

.radio-inline,
.checkbox-inline {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	.radio + .radio,
	.checkbox + .checkbox {
		margin-top: 0;
		margin-left: 10px;
		@media screen and (min-width: $screen-md-min) {
			margin-left: 30px;
		}
	}
}

.input-inline {
	display: flex;
	&--three {
		.control {
			width: 33%;
		}
	}
	&--two {
		.control {
			//width: 50%;
		}
	}
	.control {
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:nth-child(2) {
			border-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.select2-container {
		width: 50% !important;
	}
	.select2 {
		&:first-child {
			.select2-container--default .select2-selection--single {
				border-top-left-radius: 6px !important;
				border-bottom-left-radius: 6px !important;
			}
		}
		&:last-child {
			.select2-container--default .select2-selection--single {
				border-top-right-radius: 6px !important;
				border-bottom-right-radius: 6px !important;
			}
		}
	}
}

.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
	margin-top: 0;
	margin-left: 10px;
}


.file_upload {
	position: relative;
	height: 50px;
	border-radius: 6px;
	border: 1px solid #e1e1e1;
	background-color: #ffffff;
	display: flex;
	font-size: 16px;
	align-items: center;
	padding: 10px 20px;
	input[type=file] {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	.icon-plus {
		position: absolute;
		top: 10px;
		right: 15px;
		color: #adadad;
		font-size: 21px;
	}
}
