//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;

	small {
		font-weight: normal;
		line-height: 1;
	}
}

h1,
h2,
h3 {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed-half;

	small {
		font-size: 65%;
	}
}

h4,
h5,
h6 {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed-half;

	small {
		font-size: 75%;
	}
}

h1, .alpha {
	font-size: 20px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h1 * 0.8;
	}
	@media screen and (min-width: $screen-lg-min) {
		font-size: $font-size-h1;
	}
}

h2, .beta {
	font-size: 20px;
	font-weight: 700;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h2 * 0.8;
	}
	@media screen and (min-width: $screen-lg-min) {
		font-size: $font-size-h2;
	}
}

h3, .gamma {
	font-size: 26px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h3 * 0.8;
	}
	@media screen and (min-width: $screen-lg-min) {
		font-size: $font-size-h3;
	}
}

h4, .delta {
	font-size: 16px;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h4 * 0.7;
	}
	@media screen and (min-width: $screen-lg-min) {
		font-size: $font-size-h4;
	}
}

h5, .epsilon {
	font-size: 14px;
	@media screen and (min-width: $screen-xl-min) {
		font-size: $font-size-h5;
	}
}

h6, .zeta {
	font-size: 16px;
	font-weight: 700;
	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size-h6;
	}
}


// Body text
p {
	margin: 0 0 $line-height-computed-half;
}

b {
	font-weight: 700;
}

i {
	font-style: italic;
}

// Alignment
.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--center {
	text-align: center;
}

.text--justify {
	text-align: justify;
}

.text--nowrap {
	white-space: nowrap;
}


// Responsive alignment
@if $use-adaptive == true {
	@media screen and (min-width: $screen-sm-min) {
		.text__sm--left {
			text-align: left;
		}
		.text__sm--right {
			text-align: right;
		}
		.text__sm--center {
			text-align: center;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		.text__md--left {
			text-align: left;
		}
		.text__md--right {
			text-align: right;
		}
		.text__md--center {
			text-align: center;
		}
	}

	@media screen and (min-width: $screen-lg-min) {
		.text__lg--left {
			text-align: left;
		}
		.text__lg--right {
			text-align: right;
		}
		.text__lg--center {
			text-align: center;
		}
	}

	@media screen and (min-width: $screen-xl-min) {
		.text__xl--left {
			text-align: left;
		}
		.text__xl--right {
			text-align: right;
		}
		.text__xl--center {
			text-align: center;
		}
	}
}


// Transformation
.text--lowercase {
	text-transform: lowercase;
}

.text--uppercase {
	text-transform: uppercase;
}

.text--capitalize {
	text-transform: capitalize;
}


// Text size
.text__sm {
	font-size: $font-size-small;
}

.text__md {
	font-size: $font-size-medium;
}

.text__lg {
	font-size: $font-size-large;
}


@if $use-color-text == true {
	// Color text
	@include text-emphasis-variant('.text--primary', $base-color-main);
	@include text-emphasis-variant('.text--success', $color-type-4a);
	@include text-emphasis-variant('.text--info', $color-type-1a);
	@include text-emphasis-variant('.text--warning', $color-type-3a);
	@include text-emphasis-variant('.text--danger', $color-type-2a);
	@include text-emphasis-variant('.text--gray', #898989);
}


// Lists
ul,
ol {
	margin-top: 0;
	margin-bottom: $line-height-computed-half;

	ul,
	ol {
		margin-bottom: 0;
	}
}

.list {
	&--unstyled {
		@include list--unstyled;
	}

	&--inline {
		@include list--unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&--counter {
		//max-width: 610px;
		@include list--unstyled;

		li {
			display: block;
			position: relative;
			overflow: hidden;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 4px;
				left: 0;
				width: 100%;
				height: 2px;
				border-top: 1px dotted #666;
			}

			.key {
				display: inline-block;
				position: relative;
				z-index: 2;
				background: #fff;
				padding-right: 5px;
			}

			.value {
				display: block;
				float: right;
				bottom: 0;
				right: 0;
				z-index: 2;
				background: #fff;
				padding-left: 5px;
			}
		}
	}

	&--bullet {
		@include list--unstyled;
		margin-left: 11px;

		> li {
			margin-bottom: $line-height-computed / 2.6;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: '•';
				color: #04be5b;
				font-size: 20px;
				margin-right: 11px;
			}
		}
	}

	&--number {
		counter-reset: items;
		padding-left: 0;
		margin: 0;

		> li {
			margin-bottom: 30px;
			padding-left: 50px;
			position: relative;
			@media screen and (min-width: $screen-md-min) {
				min-height: 60px;
				padding-left: 100px;
			}

			&::before {
				counter-increment: items 1;
				content: counter(items, decimal) ".";
				width: 42px;
				height: 42px;
				font-size: 13px;
				color: $base-color-main;
				background-color: #ffe4cf;
				border: 7px solid #fff6ee;
				position: absolute;
				left: 0;
				top: -3px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100px;

				@media screen and (min-width: $screen-md-min) {
					top: -13px;
					border: 13px solid #fff6ee;
					font-size: 22px;
					width: 72px;
					height: 72px;
				}
			}
		}
	}
}


// Blockquotes
blockquote {
	position: relative;
	margin: $line-height-computed 0;
	display: inline-block;
	@media screen and (min-width: $screen-md-min) {
		padding: $line-height-computed $line-height-computed * 3 0 $line-height-computed * 2;
		margin: $line-height-computed * 2 0;
		font-size: $blockquote-font-size;
	}

	&:before {
		content: '';
		display: block;
		width: 30px;
		height: 22px;
		background: url("../images/icons/quote-2.png") no-repeat center / cover;
		position: absolute;
		bottom: 20px;
		right: 0;
		@media screen and (min-width: $screen-md-min) {
			width: 56px;
			height: 41px;
		}
	}

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
