//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 35px;
	border-top: 1px solid #e3e3e3;
	background-color: #F7F7F7;
	border-bottom: 6px solid $base-color-main;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 80px;
		padding-bottom: 70px;
	}
	a {
		text-decoration: none;
	}
	ul {
		font-weight: 700;
		li {
			margin-bottom: 15px;
		}
	}
	&__copy {
		color: #989898;
		font-size: 15px;
		text-transform: none;
	}
	&__logo {
		color: #989898;
		font-size: 15px;
		text-transform: none;
		span, img {
			vertical-align: initial;
		}
		img {
			width: 60px;
			margin-left: 5px;
		}
	}
	.flex {
		margin: 30px 0;
		@media screen and (min-width: $screen-lg-min) {
			margin: 0;
		}
	}
}

.margbot60 {
	margin-bottom: 20px;
	@media screen and (min-width: $screen-lg-min) {
		margin-bottom: 60px;
	}
}
.margbot20 {
	margin-bottom: 10px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 20px;
	}
}

.margbot10 {
	margin-bottom: 10px;
}

#vk_groups {
	width: 100% !important;
	max-width: 740px;
}
//
//.instagram {
//	border: 1px solid #E8E8E8;
//	border-radius: 10px;
//	padding: 10px;
//	text-transform: none;
//	max-width: 740px;
//	display: block;
//	text-decoration: none;
//	background: $white-lighten;
//	@media screen and (min-width: $screen-lg-min) {
//		padding: 20px;
//	}
//	h5 {
//		margin: 0;
//	}
//	p {
//		margin-bottom: 4px;
//		@media screen and (min-width: $screen-md-min) {
//			margin-bottom: 11px;
//		}
//	}
//	&-user {
//		display: flex;
//		align-items: flex-start;
//		margin-bottom: 10px;
//		@media screen and (min-width: $screen-md-min) {
//			margin-bottom: 20px;
//		}
//	}
//	&-userPhoto {
//		width: 60px;
//		height: 60px;
//		margin-right: 5px;
//		@media screen and (min-width: $screen-md-min) {
//			width: 90px;
//			height: 90px;
//			margin-right: 15px;
//		}
//		img {
//			border-radius: 50%;
//		}
//	}
//	&-userDesc {
//		width: 100%;
//		display: flex;
//		flex-wrap: wrap;
//		@extend .between__xs;
//		@extend .middle__xs;
//		&-title {
//			font-size: 14px;
//			@media screen and (min-width: $screen-md-min) {
//				font-size: 20px;
//			}
//			@media screen and (min-width: $screen-lg-min) {
//				font-size: 23px;
//			}
//		}
//		&-link {
//			font-size: 16px;
//			@media screen and (min-width: $screen-md-min) {
//				font-size: 20px;
//			}
//			@media screen and (min-width: $screen-lg-min) {
//				font-size: 30px;
//			}
//		}
//		&-meta {
//			font-size: 10px;
//			width: 100%;
//			display: flex;
//			@extend .middle__xs;
//			@media screen and (min-width: $screen-md-min) {
//				font-size: 16px;
//			}
//			@media screen and (min-width: $screen-lg-min) {
//				font-size: 20px;
//			}
//			> * {
//				margin-right: 5px;
//				@media screen and (min-width: $screen-md-min) {
//					margin-right: 10px;
//				}
//				@media screen and (min-width: $screen-lg-min) {
//					margin-right: 20px;
//				}
//			}
//		}
//		&-desc {
//			font-size: 10px;
//			width: 100%;
//			@media screen and (min-width: $screen-md-min) {
//				font-size: 16px;
//			}
//			@media screen and (min-width: $screen-lg-min) {
//				font-size: 20px;
//			}
//		}
//	}
//	&-photo {
//		display: flex;
//		flex-wrap: wrap;
//		img {
//			width: 24px;
//			height: 24px;
//			@media screen and (min-width: $screen-md-min) {
//				width: 27px;
//				height: 27px;
//				margin-right: 2px;
//			}
//			@media screen and (min-width: $screen-lg-min) {
//				width: 60px;
//				height: 60px;
//				margin-right: 3px;
//			}
//		}
//	}
//}
