//
// Partials -> Header
// ------------------------------------

.margTop-auto {
	margin-top: auto;
}

//
// Header
//
.page-header {
	//padding: 32px 0;
	border-bottom: 1px solid #eaeaea;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	z-index: 110;
	display: flex;
	align-items: center;
	background-color: $white-lighten;
	@media screen and (min-width: $screen-md-min) {
		height: 100px;
	}
	&__nav {
		//margin-left: auto;
		//@media screen and (min-width: $screen-md-min) {
		//	margin-left: 0;
		//}
	}
	&__logo {
		width: 120px;
		@media screen and (min-width: $screen-lg-min) {
			width: 150px;
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 190px;
		}
	}
	&__loc {
		img {
			margin-right: 10px;
		}
		a {
			font-weight: 700;
			text-transform: uppercase;
			color: $base-color-main;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		//i {
		//	font-size: 19px;
		//	&::before {
		//		margin-left: 0;
		//	}
		//}
	}
	&__location {
		margin-left: auto;
		font-size: 20px;
		i {
			color: $base-color-main;
		}
		img {
			vertical-align: top;
		}
	}
	&__cart {
		position: relative;
		span {
			position: absolute;
			top: -15px;
			right: -10px;
			width: 19px;
			height: 19px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 11px;
			border-radius: 50%;
			color: $white-lighten;
			background-color: $base-color-main;
		}
	}
}
.social {
	a {
		font-size: 20px;
		color: #adadad;
		text-decoration: none;
		&:hover {
			color: $black;
		}
		+ a {
			margin-left: 7px;
		}
	}
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
