//
// Partials -> Main
// ------------------------------------

.ytp-pause-overlay,
.ytp-chrome-top,
.ytp-chrome-bottom {
	display: none !important;
}

.iconsBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}

.bottomIcons {
	margin: auto;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 50px;
	display: flex;
	justify-content: space-between;
	@extend .is-col__xs-12;
	@extend .is-col__md-10;
	@extend .is-col__lg-9;
	@extend .is-col__xl-7;
	img {
		height: auto !important;
		width: auto !important;
	}
}

.scrollDown {
	border-radius: 50%;
	color: $white-lighten;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 107px;
	height: 107px;
	border: 1px solid rgba(#ffffff, 0.3);

	span + span {
		margin-top: 10px;
	}
}

body.fixed {
	overflow: hidden;
}

.mainSection {
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	@media screen and (min-width: $screen-md-min) {
		&.catalog {
			.mainSection-item:first-child {
				min-height: calc(100vh - 100px);;
			}
		}
	}
	&-item {
		position: relative;
		&:first-child {
			@media screen and (min-width: $screen-md-min) {
				min-height: calc(100vh - 100px);
			}
		}
		//@media screen and (min-width: $screen-md-min) {
		//	&:first-child:after {
		//		content: '';
		//		width: 104%;
		//		height: 112px;
		//		background: url('../images/shadow.png') no-repeat center / 100% auto;
		//		position: absolute;
		//		left: -2%;
		//		right: -2%;
		//		bottom: -42px;
		//		z-index: 10;
		//	}
		//}
	}
	&-background {
		overflow: hidden;
		@media screen and (min-width: $screen-lg-min) {
			min-height: calc(85vh - 100px);
		}
		.video {
			position: absolute;
			right: -10%;
			left: -10%;
			top: 0;
			bottom: 0;
			margin: auto;
			min-width: 100%;
			min-height: 100%;
			object-fit: contain;
		}
	}
	.gallery-item {
		height: auto;
	}
	.gallery-column-f {
		width: 50%;
		@media screen and (min-width: $screen-md-min) {
			width: 20%;
		}
	}
	.gallery-column-fh {
		width: 100%;
		@media screen and (min-width: $screen-md-min) {
			width: 20%;
		}
	}
	.gallery-column-h {
		width: 100%;
		@media screen and (min-width: $screen-md-min) {
			width: 40%;
		}
	}
}


hr {
	border: none;
	margin: 20px 0;
	border-bottom: 1px solid #e1e1e1;
}
.prices {
	margin-bottom: 30px;
	&-item {
		font-size: 22px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	b {
		width: 120px;
		font-size: 30px;
	}
}

.gallery {
	@extend .is-row;
	margin: 0;
	&-column {
		&-h {
			position: relative;
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: 40%;
			}
		}
		&-f {
			position: relative;
			width: 50%;
			@media screen and (min-width: $screen-md-min) {
				width: 20%;
			}
		}
		&-fh {
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: 20%;
			}
		}
		&-main {
			display: flex;
			flex-wrap: wrap;
			height: 50vw;
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: 60%;
				height: auto;
			}
			img {
				@media screen and (min-width: $screen-md-min) {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
			}
			> a.gallery-item {
				height: 100%;
				@extend .is-col__xs-12;
			}
		}
		&-long {
			display: flex;
			flex-wrap: wrap;
			height: 50vw;
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: 40%;
				height: auto;
				> a.gallery-item {
					height: 100%;
				}
			}
			> a {
				@extend .is-col__xs-12;
			}
			&--half {
				@media screen and (min-width: $screen-md-min) {
					> a.gallery-item {
						height: 50%;
					}
				}
			}
		}
		&-squad {
			display: flex;
			flex-wrap: wrap;
			@media screen and (min-width: $screen-md-min) {
				width: 60%;
			}
			> a {
				height: 100%;
				@extend .is-col__md-4;
				@extend .is-col__xs-6;
			}
		}
		&-index {
			.gallery-inner {
				opacity: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 10px;
				left: 10px;
				right: 10px;
				bottom: 10px;
				padding: 20px;
				border: 2px solid $white-lighten;
				@media screen and (max-width: $screen-sm-max) {
					img {
						width: 65% !important;
					}
				}
				@media screen and (min-width: $screen-md-min) {
					top: 20px;
					left: 20px;
					right: 20px;
					bottom: 20px;
				}
			}
			.gallery-item:after {
				background-color: rgba($black-darken, 0.5) !important;
			}
		}
	}
	.grid-sizer {
		width: 50%;
		@media screen and (min-width: $screen-md-min) {
			width: 20%;
		}

	}
	&-inner {
		z-index: 9;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		right: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		opacity: 0;
		@include transition(opacity);
		padding: 10px 10px 15px;
		text-decoration: none;
		@media screen and (min-width: $screen-md-min) {
			padding: 15px 10px 15px;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 30px 10px 25px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 60px 10px 30px;
		}
		@media screen and (min-width: 1500px) {
			padding: 70px 15px 20px;
		}
		@media screen and (min-width: 1650px) {
			padding: 70px 25px 40px;
		}
		img {
			width: 17% !important;
			height: auto;
			display: block;
			@media screen and (min-width: $screen-sm-min) {
				width: 21% !important;
			}
			@media screen and (min-width: $screen-md-min) {
				width: 75% !important;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 45% !important;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: auto !important;
			}
		}
		.img {
			> img {
				transform: scale(0.6);
				width: auto !important;
				@media screen and (min-width: $screen-xl-min) {
					transform: scale(1);
				}
			}
		}
		.flex {
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (min-width: $screen-lg-min) {
				height: 30px;
				justify-content: space-between;
			}
			@media screen and (min-width: $screen-xl-min) {
				height: 50px;
			}
			@media screen and (max-width: 1489px) {
				height: 40px;
			}
			.hidden__sm {
				font-size: 11px;
				text-transform: uppercase;
				@media screen and (min-width: $screen-xl-min) {
					font-size: 12px;
					letter-spacing: 1.92px;
				}
				@media screen and (min-width: 1490px) {
					font-size: 13px;
				}
				.icon-right-open {
					color: $base-color-main;
				}
			}
		}
		a:not(.btn) {
			text-transform: uppercase;
			font-size: 9px;
			text-decoration: none;
			letter-spacing: 1.92px;
			@media screen and (min-width: $screen-xl-min) {
				font-size: 12px;
			}
			i {
				color: $base-color-main;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		h5 {
			margin: 0;
		}
		.img {
			margin-top: 6px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (min-width: $screen-md-min) {
				margin: 10px auto;
				height: 40px;
			}
			@media screen and (min-width: $screen-lg-min) {
				margin: 10px auto 0;
				height: 60px;
			}
			@media screen and (min-width: 1390px) {
				margin: 10px auto 25px;
			}
		}
	}
	&-item {
		position: relative;
		color: $white-lighten;
		height: auto;
		display: block;
		text-decoration: none;
		@media screen and (min-width: $screen-md-min) {
			height: auto;
		}
		.btn-abs {
			position: absolute;
			left: 10px;
			bottom: 15px;
			z-index: 10;
			text-align: center;
			right: 10px;
			display: none;
			@media screen and (min-width: $screen-md-min) {
				display: flex;
				opacity: 0;
			}
			@media screen and (min-width: $screen-lg-min) {
				bottom: 30px;
				right: auto;
			}
			//@media screen and (min-width: $screen-xl-min) {
			//	bottom: 30px;
			//}
			@media screen and (min-width: 1500px) {
				left: 15px;
				bottom: 20px;
			}
			@media screen and (min-width: 1650px) {
				left: 25px;
				bottom: 40px;
			}
			&.btn--primary:hover {
				.icons:before {
					@include sprite(cartw);
					width: 1.5125em;
				}
			}
		}
		&.active {
			.btn-abs {
				display: flex;
				@media screen and (min-width: $screen-md-min) {
					display: none;
				}
			}
		}
		.btn {
			@media screen and (max-width: 1489px) {
				@include button-size(10px, 15px, 12px, 1, $btn-border-radius-base);
				min-width: inherit;
				height: 40px;
			}
			@media screen and (max-width: $screen-lg-max) {
				@include button-size(7px, 11px, 9px, 1, $btn-border-radius-base);
				min-width: inherit;
				height: 30px;
			}
		}
		.title {
			top: 10%;
			left: 15px;
			position: absolute;
			line-height: 1.1;
			z-index: 11;
			font-size: 25px;
			@media screen and (min-width: $screen-md-min) {
				left: 30px;
				top: 30px;
			}
			@media screen and (min-width: $screen-xl-min) {
				font-size: $font-size-h2;
			}
		}
		.stock {
			top: 10px;
			left: 0;
			right: 0;
			position: absolute;
			margin: auto;
			width: 60px;
			height: 17px;
			z-index: 11;
			background: url("../images/new.png") no-repeat center / cover;
			@media screen and (min-width: $screen-lg-min) {
				width: 118px;
				height: 33px;
			}
		}
		.link {
			bottom: 10%;
			left: 15px;
			position: absolute;
			text-decoration: none;
			z-index: 11;
			width: 50px;
			height: 50px;
			line-height: 1;
			padding: 7px 8px;
			border-radius: 25px;
			color: $white-lighten;
			border: 2px solid $white-lighten;
			display: flex;
			align-items: center;
			justify-content: center;
			@media screen and (min-width: $screen-md-min) {
				left: 30px;
				bottom: 30px;
				width: 30px;
				height: 30px;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 40px;
				height: 40px;
			}
			@media screen and (min-width: $screen-xl-min) {
				padding: 11px 15px;
				width: 50px;
				height: 50px;
			}
			span {
				width: 0;
				overflow: hidden;
				display: inline-block;
				font-size: 12px;
				color: #404041;
				text-transform: uppercase;
				@include transition();
				//@media screen and (min-width: $screen-xl-min) {
				//	font-size: 12px;
				//}
			}
			:before {
				margin: 0;
			}
			&:hover {
				padding: 7px 17px;
				width: auto;
				@media screen and (min-width: $screen-xl-min) {
					padding: 11px 25px;
				}
				span {
					width: auto;
					padding-right: 15px;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background-color: transparent;
			@include transition();
		}
		&-category {
			color: $black;
			.gallery-inner {
				opacity: 1;
				.img {
					@media screen and (max-width: $screen-sm-max) and (orientation: portrait) {
						//margin-top: -20px;
						height: 50px;
						//img {
							//width: 20% !important;
						//}
					}
				}
				h4 {
					margin: 8px 0 0;
					@media screen and (min-width: $screen-md-min) {
						margin: -5px 0 0;
						font-size: 16px;
					}
					@media screen and (min-width: 992px) and (max-width: $screen-md-max) {
						margin: -10px 0 0;
					}
					@media screen and (min-width: $screen-lg-min) {
						margin: -5px 0 0;
						font-size: 21px;
					}
					@media screen and (min-width: $screen-xl-min) {
						font-size: $font-size-h4;
					}
				}
			}
			&:after {
				background: url("../images/icons/line.svg") no-repeat center, rgba($white-lighten, 0.8);
			}
		}
		&.active,
		&:hover {
			color: $black;
			.btn-abs,
			.gallery-inner {
				opacity: 1;
			}
			.link {
				border-color: $base-color-main;
				i {
					color: $base-color-main;
				}
			}
			&:after {
				background-color: rgba($white-lighten, 0.8);
			}
		}
	}
}

.icons--carto:before {
	width: 1.5125em;
}
.icons--cart:before {
	width: 1.5125em;
}

.nonsquare .gallery-item {
	@media screen and (max-width: $screen-sm-max) {
		height: 50vw;
		img {
			height: 100%;
		}
	}
}

@media screen and (max-width: $screen-sm-max) and (orientation: landscape) {
	.gallery-inner h5 {
		font-size: 19px;
		margin: auto;
	}
	.gallery-item-category .gallery-inner h4 {
		margin: auto;
		font-size: 22px;
	}
	.gallery-item-category .gallery-inner .img {
		margin-top: -52px;
	}
}
