//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
	.breadcrumbs {
		padding: $breadcrumb-padding-vertical / 2.5 $breadcrumb-padding-horizontal;
		margin-bottom: 0;
		list-style: none;
		background-color: $breadcrumb-bg;
		font-weight: 700;
		@media screen and (min-width: $screen-md-min) {
			padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
		}
		white-space: nowrap;

		&__item {
			display: inline-block;

			& + & {
				&:before {
					content: "#{$breadcrumb-separator}";
					padding: 0 10px;
					color: $breadcrumb-active-color;
				}
			}

			&.active {
				color: $breadcrumb-active-color;
				font-weight: 400;
			}
		}

		&__link {
			color: $breadcrumb-color;
			text-decoration: none;
			&:hover {
				color: $breadcrumb-color;
				text-decoration: underline;
			}
		}

		+ * {
			margin-top: 0;
			margin-bottom: 20px;
			@media screen and (min-width: $screen-lg-min) {
				margin-bottom: 40px;
			}
		}
	}
}
