//
// Modules -> Navs
// --------------------------------------------------


.main-nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
	@media screen and (min-width: $screen-md-min) {
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	&__item {
		display: block;
		@media screen and (min-width: $screen-md-min) {
			display: inline-block;
		}
		&--parent {
			> .main-nav__link:after {
				content: '\f004';
				font-family: "fontello";
				margin-left: 4px;
				font-size: 12px;
				vertical-align: baseline;
				@include transition();
				@media screen and (min-width: $screen-xl-min) {
					margin-left: 9px;
				}
			}
			&.active {
				> .main-nav__link:after {
					content: '\f005';
				}
			}
		}
		&.active,
		&:hover {
			> .main-nav__link {
				color: $base-color-main;
				border-color: $base-color-main;
			}
			&:after {
				color: $base-color-main;
			}
		}
	}

	&__link {
		position: relative;
		padding: $nav-link-padding;
		text-decoration: none;
		display: inline-block;
		border-bottom: 2px solid transparent;
	}

	img {
		max-width: none;
	}

	@if $use-adaptive == true {
		&__collapse {
			overflow-x: visible;
			-webkit-overflow-scrolling: touch;
			display: block;

			@media screen and (max-width: $screen-sm-max) {
				right: -100%;
				position: absolute;
				overflow: auto;
				width: 100%;
				height: calc(100vh - 49px);
				top: 49px;
				bottom: 0;
				z-index: 22;
				//border-top: 1px solid #e1e1e1;
				background: $white-lighten;
				@include transition(0.5s right);
				padding: 15px 30px 120px 30px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&.is-active {
					right: 0;
				}
				.main-nav {
					font-size: 14px;
					&__item {
						line-height: 2;
					}
					.sub-nav {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.hamburger {
	@media screen and (min-width: $screen-adaptive-nav) {
		display: none;
	}
}

.submenu {
	display: none;
	@include transition();
	margin-top: 10px;
	margin-bottom: 10px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 0;
		margin-top: 0;
		z-index: 11;
		padding: 20px 0;
		background: $white-lighten;
		position: absolute;
		top: -400px;
		left: 0;
		width: 125%;
		display: block;
		min-height: 172px;
	}
	@media screen and (min-width: $screen-lg-min) {
		top: -300px;
		width: 150%;
		padding: 30px 0;
	}
	@media screen and (min-width: $screen-xl-min) {
		width: 137%;
	}
	.active > & {
		display: block;
		@media screen and (min-width: $screen-md-min) {
			top: 63px;
		}
	}
	@media screen and (min-width: $screen-adaptive-nav) {
		&:after {
			content: '';
			position: absolute;
			left: -52%;
			right: 0;
			top: 0;
			bottom: 0;
			width: 184%;
			background: url("../images/menu1.jpg") no-repeat center / 75%, $white-lighten;
			border-top: 1px solid rgba(#e7e7e7, 0.88);
			border-bottom: 1px solid rgba(#e7e7e7, 0.88);
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		&:after {
			left: -54.6%;
			width: 198%;
			background: url("../images/menu1.jpg") no-repeat center / 75%, $white-lighten;
		}
	}
	@media screen and (min-width: 1480px) {
		&:after {
			left: -53.6%;
			//width: 198%;
			//background: url("../images/menu1.jpg") no-repeat center / 75%, $white-lighten;
		}
	}
	> * {
		position: relative;
		z-index: 1;
	}
	img {
		max-width: 100%;
	}
}

.sub-nav {
	@media screen and (min-width: $screen-md-min) {
		column-count: 3;
	}
	.main-nav__item {
		display: block;
	}
}

.submenu {
	.main-nav__link {
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 13px;
		}
	}
}

.naming {
	color: $white-lighten;
	position: relative;
	text-transform: none;
	display: block;
	&:hover {
		color: $base-color-main;
	}
	h4 {
		position: absolute;
		top: 15px;
		left: 15px;
		margin: 0;
		@media screen and (min-width: $screen-md-min) {
			top: 20px;
			left: 20px;
		}
	}
}
