
@media screen and (min-width: $screen-md-min) {
	.page-index.fp-viewing-4 .fullpage-wrapper {
		transform: translate3d(0px, 0px, 0px) !important;
	}
	.section:not(.fp-auto-height) {
		position: fixed !important;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		animation: 1s linear;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	}
	.section:nth-child(1) {
		z-index: 10;
	}
	.section:nth-child(2) {
		z-index: 9;
	}
	.section:nth-child(3) {
		z-index: 8;
	}
	.section:nth-child(4) {
		z-index: 7;
	}
	.section:nth-child(5) {
		z-index: 11;
	}
	.section:nth-child(6) {
		z-index: 11;
	}
	.section.fp-completely.active {
		z-index: 20;
	}
	.section.prev.down {
		animation-name: toup;
	}
	.section.active.up {
		animation-name: fromup;
	}
	.section.active.down {
		//animation-name: fromdown;
		z-index: 12;
	}
	.section.next.up {
		//animation-name: todown;
		z-index: 12;
	}
}
@keyframes fromdown {
	from {
		transform:translateY(50%);
	}
	100% {
		transform:translateY(0%);
	}
}

@keyframes toup {
	from {
		z-index: 20;
		transform:translateY(0%);
	}
	100% {
		z-index: 20;
		transform:translateY(-100%);
	}
}

@keyframes fromup {
	from {
		z-index: 20;
		transform:translateY(-100%);
	}
	100% {
		z-index: 20;
		transform:translateY(0%);
	}
}
@keyframes todown {
	from {
		transform:translateY(0%);
	}
	100% {
		transform:translateY(50%);
	}
}

.works-blockqoute {
	.blockqoute {
		@media screen and (max-width: $screen-sm-max) {
			margin: 10px 0 0;
			padding: 30px 0px;
		}
	}
}
.about {
	.blockqoute {
		margin: 0;
		padding: 30px 0px;
		@media screen and (min-width: $screen-md-min) {
			margin: 20px 0 35px;
			padding: 23px 65px 0 60px;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 23px 85px 0 80px;
		}
		h3 {
			margin-top: 0;
			font-size: 19px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 30px;
			}
		}
	}
	.tabs {
		margin-bottom: 20px;
		@extend .center__xs;
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 60px;
		}
		h2 {
			margin-top: 0;
			font-weight: 400;
		}
	}
	.news-item {
		margin-bottom: 0;
	}
	.news-title {
		border-bottom: none;
	}
	.number {
		width: 52px;
		height: 52px;
		background-color: rgba(#c08e66, 0.7);
		font-size: 14px;
		border-radius: 150px;
		display: flex;
		flex-direction: column;
		@extend .middle__xs;
		@extend .center__xs;
		position: absolute;
		bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 24px;
			width: 104px;
			height: 104px;
		}
	}
	&-item {
		color: $white-lighten;
		position: relative;
		padding: 90px 0 130px;
		background-position: center 80%;
		@media screen and (min-width: $screen-md-min) {
			padding: 0;
		}
		.breadcrumbs {
			position: absolute;
			top: 0;
			.breadcrumbs__item {
				&:before,
				&.active {
					color: $white-lighten;
				}
			}
		}
		h4 {
			font-size: 14px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 24px;
			}
		}
		h3 {
			font-weight: 700;
			font-size: 16px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 35px;
			}
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 30px auto;
		@media screen and (min-width: $screen-md-min) {
			margin: 50px auto 80px;
		}
		&-item {
			text-align: center;
			font-size: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 95px;
			width: 50%;
			margin-bottom: 25px;
			@media screen and (min-width: $screen-md-min) {
				height: 100px;
				width: auto;
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
				margin-top: auto;
			}
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		.slider-guest .swiper-slide img {
			height: 100%;
		}
	}
}
.about-item,
.fp-tableCell {
	@media screen and (max-width: $screen-sm-max) {
		height: auto !important;
	}
}
//#section0 {
////	height: calc(100vh - 100px) !important;
////}
#section4 {
	padding: 0 0 30px;
	overflow: hidden;
	@media screen and (min-width: $screen-md-min) {
		padding: 140px 0;
	}
}
.swiper-settings {
	text-align: center;
	display: flex;
	@extend .center__xs;
}
.swiper-btn {
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 31px;
	display: flex;
	@extend .middle__xs;
	@extend .center__xs;
	color: $base-color-main;
	border: 1px solid #d7d7d7;
	cursor: pointer;
	&:hover {
		background: $base-color-main;
		color: $white-lighten;
		border: 1px solid $white-lighten;
	}
	@media screen and (min-width: $screen-md-min) {
		margin: 10px;
		width: 61px;
		height: 62px;
	}
}
