.card {
	font-size: 13px;
	@media screen and (min-width: $screen-md-min) {
		font-size: 15px;
	}
	@media screen and (max-width: $screen-sm-max) {
		.cart-count .count {
			width: 135px;
			height: 50px;
		}
		.cart-count input {
			width: 35px;
		}
	}
	.breadcrumbs {
		padding: 20px 0;
	}
	&-lists {
		@extend .flex;
		flex-wrap: wrap;
		@extend .between__xs;
		text-align: center;
		margin: 15px 0;
		width: 99%;
	}
	h6 {
		margin-top: 30px;
		@extend .text__sm;
		@extend .text--primary;
		@extend .text--uppercase;
	}
	&-list {
		width: 23%;
		padding: 9px 5px;
		border-radius: 10px;
		border: 1px solid #e7e7e7;
		background-color: #ffffff;
		@media screen and (min-width: $screen-lg-min) {
			border-radius: 20px;
			padding: 15px;
		}
		span {
			font-size: 8px;
			letter-spacing: 1.54px;
			display: block;
			text-transform: uppercase;
			@media screen and (min-width: $screen-md-min) {
				font-size: 11px;
			}
		}
		b {
			color: $base-color-main;
			font-weight: 700;
		}
	}
	&-add {
		@extend .flex;
		@extend .between__xs;
		margin: 20px 0;
		@media screen and (min-width: $screen-md-min) {
			margin: 30px 0;
		}
	}
	&-btn {
		width: 50%;
		.btn__lg {
			height: 50px;
			font-size: 13px;
			@media screen and (min-width: $screen-md-min) {
				height: 60px;
				font-size: 16px;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			width: calc(100% - 150px);
		}
		@media screen and (min-width: $screen-xl-min) {
			width: 63%;
		}
	}
	.swiper-btn {
		width: 43px;
		height: 43px;
	}
	&-rec {
		position: relative;
		text-align: center;
		img + p {
			margin-top: 10px;
		}
		.swiper-btn {
			margin: 0;
			background-color: $white-lighten;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
			&:hover {
				color: $white-lighten;
				background-color: $base-color-main;
			}
		}
		.swiper-settings {
			position: absolute;
			top: 25%;
			left: -5%;
			width: 110%;
			z-index: 9;
			justify-content: space-between;
			@media screen and (max-width: $screen-md-max) {
				left: -3%;
				width: 106%;
			}
		}
	}
	&-img {
		position: relative;
		&:after {
			content: '';
			width: 5px;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: white;
		}
		@media screen and (max-width: $screen-md-max) {
			margin: 0 -15px;
		}
		.swiper-settings {
			position: absolute;
			bottom: 20px;
			left: 20px;
			z-index: 9;
			@media screen and (min-width: $screen-md-min) {
				left: 30px;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 43px;
				display: block;
			}
			@media screen and (min-width: $screen-xl-min) {
				bottom: 60px;
				left: 80px;
			}
			@media screen and (min-width: $screen-xl-min) and (max-width: 1500px) {
				bottom: 30px;
				left: 40px;
			}
		}
		.swiper-btn {
			color: $white-lighten;
			border: 2px solid $white-lighten;
			&:hover {
				color: $black;
				background-color: $white-lighten;
			}
		}
		.gallery-thumbs {
			position: absolute;
			top: 20px;
			left: 20px;
			height: 220px;
			@media screen and (max-width: $screen-sm-max) {
				width: 60px;
				height: 195px;
			}
			@media screen and (min-width: $screen-xl-min) {
				height: 450px;
				top: 60px;
				left: 60px;
			}
			@media screen and (min-width: $screen-xl-min) and (max-width: 1500px) {
				height: 350px;
				top: 30px;
				left: 30px;
			}
			img {
				border: 3px solid transparent;
				cursor: pointer;
			}
			.swiper-slide-thumb-active img {
				border-color: #dedede;
			}
		}
	}
	&-info {
		display: flex;
		@extend .middle__xs;
		span + span {
			margin-left: 10px;
		}
	}
	&-desc {
		width: 100%;
		&.mCustomScrollbar {
			width: auto;
		}
		@media screen and (min-width: $screen-sm-min) {
			padding: 0 25px;
		}
		@media screen and (min-width: $screen-md-min) {
			height: 670px;
			overflow-y: auto;
			padding: 0 5px;
			.mCSB_container {
				padding: 0 10px;
			}
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 0 25px;
			.mCSB_container {
				padding: 0 30px;
			}
		}
		@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
			height: 814px;
		}
		@media screen and (min-width: $screen-xl-min) {
			height: 740px;
			padding: 0 10px;
			width: 440px;
		}
		@media screen and (min-width: $screen-xl-min) and (max-width: 1500px) {
			height: 582px;
		}
		.mCSB_inside > .mCSB_container {
			margin-right: 10px;
		}
	}
	&-overflow {
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			padding: 0;
		}
	}
	.share-soc {
		margin-top: 20px;
		margin-bottom: 40px;
		> div {
			margin-bottom: 10px;
		}
	}
	&-item {
		text-decoration: none;
		display: block;
	}
}
.lunch {
	position: relative;
	&-title {
		width: 100%;
	}
	.swiper-btn {
		margin: 0;
		color: $base-color-main;
		background-color: $white-lighten;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
	}
	.swiper-settings {
		position: absolute;
		top: 30%;
		left: -5%;
		width: 110%;
		z-index: 9;
		justify-content: space-between;
	}
	&-item {
		display: flex;
		flex-wrap: wrap;
		@extend .between__xs;
		.btn {
			width: 99%;
		}
		&.active {
			&:after {
				content: 'Выбрано';
				color: $base-color-main;
				position: absolute;
				right: 5px;
				top: 25px;
				font-size: 18px;
			}
		}
	}
	&-img {
		@extend .is-col__xs-4;
		@extend .is-col__md-4;
	}
	&-desc {
		width: 63%;
		.flex {
			width: 99%;
		}
	}
}

.relative {
	position: relative;
}

.price {
	@extend .flex;
	flex-wrap: wrap;
	@extend .middle__xs;
	margin: 20px 0;
	@media screen and (min-width: $screen-md-min) {
		margin: 30px 0;
	}
	&-item {
		@extend .flex;
		@extend .middle__xs;
		line-height: 1;
		+ .price-item {
			&:before {
				content: '';
				width: 11px;
				height: 33px;
				background: url("../images/shape.png") no-repeat center;
				margin: 0 10px;
				@media screen and (min-width: $screen-md-min) {
					margin: 0 30px;
				}
			}
		}
		.value {
			font-size: 20px;
			@extend .text--primary;
			font-weight: 700;
			@media screen and (min-width: $screen-md-min) {
				font-size: 35px;
			}
		}
		.target {
			margin-left: 10px;
			color: #898989;
			font-size: 11px;
			width: 33px;
			height: 33px;
			border-radius: 50px;
			background-color: #f7f7f7;
			@extend .flex;
			@extend .middle__xs;
			@extend .center__xs;
			@media screen and (min-width: $screen-md-min) {
				font-size: 13px;
				margin-left: 15px;
				width: 49px;
				height: 49px;
				font-size: 18px;
			}
		}
	}
}
