.conditions {
	padding-bottom: 100px;

	@media screen and (max-width: $screen-sm-max) {
		padding-bottom: 50px;
		.btn {
			font-size: 11px;
			padding: 20px 15px;
			min-width: inherit;
		}
	}
	.list--number {
		margin-top: 50px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 0;
			margin-bottom: 60px;
		}
	}
	&-item {
		position: relative;
		margin: 10px 0;
		width: 100%;
		@media screen and (min-width: $screen-md-min) {
			width: 155px;
			margin: 40px 0;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 195px;
			margin: 80px 0;
		}
		+ .conditions-item {
			&:before {
				content: '';
				width: 70px;
				height: 23px;
				display: block;
				position: absolute;
				left: -62%;
				top: 20px;
				background: url("../images/icons/arrow.png") no-repeat center / contain;
				@media screen and (min-width: $screen-lg-min) {
					left: -68%;
					width: 95px;
					top: 40px;
				}
				@media screen and (min-width: $screen-xl-min) {
					left: -95%;
				}
			}
		}
	}
	&-num {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 28px;
		width: 28px;
		border-radius: 30px;
		color: $white-lighten;
		background-color: $base-color-main;
		font-weight: 700;
		@media screen and (min-width: $screen-md-min) {
			position: absolute;
			left: -15px;
			top: 25%;
		}
		@media screen and (min-width: $screen-lg-min) {
			top: 40%;
		}
	}
	@media screen and (max-width: $screen-md-max) {
		.text__lg {
			font-size: 14px;
		}
	}
	&-icon {
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;
			background-color: #fff0e4;
			border-radius: 100px;
			margin-bottom: 30px;
		}
		@media screen and (max-width: $screen-sm-max) {
			.icons {
				display: none;
			}
		}
		@media screen and (max-width: $screen-md-max) {
			.icons {
				font-size: 12px;
			}
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 107px;
			height: 107px;
		}
	}
}
