.contacts {
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 120px;
	}
	&-title {
		@extend .flex;
		@extend .middle__xs;
		@extend .between__xs;
		ul.tabs {
			margin-top: 10px;
			@media screen and (min-width: $screen-md-min) {
				margin-top: 0;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			margin-bottom: 40px;
		}
	}
	&-form {
		padding: 10px;
		background-color: #f4f4f4;
		border-bottom: 3px solid #dedede;
		@media screen and (min-width: $screen-md-min) {
			padding: 30px;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 60px;
		}
		label {
			font-weight: 400;
		}
	}
	.tab-content {
		margin-bottom: 20px;
	}
}
#mapOf,
#map {
	height: 240px;
	position: relative;
	width: 100%;
	@media screen and (min-width: $screen-md-min) {
		width: 90%;
		left: -33%;
		height: 550px;
	}
	@media screen and (min-width: $screen-xl-min) {
		width: 95%;
		left: -27%;
	}
}

.objects {
	&-body {
		padding: 15px;
		background-color: #f4f4f4;
		height: 440px;
		border-bottom: 3px solid #dedede;
		@media screen and (min-width: $screen-md-min) {
			border-bottom: 0;
			padding: 30px 10px 10px 20px;
			position: absolute;
			z-index: 9;
			right: 0;
			top: -40px;
			width: 330px;
			height: calc(100% + 80px);
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 40px 10px 10px 40px;
			width: 420px;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 30px;
		}
		&-inner {
			overflow-y: auto;
			height: 100%;
			@media screen and (min-width: $screen-md-min) {
				padding-right: 30px;
			}
			.mCustomScrollbar {
				padding-right: 0;
			}
		}
		&__item {
			background-color: #ffffff;
			margin-bottom: 10px;
			padding: 20px;
			@media screen and (min-width: $screen-md-min) {
				padding: 30px;
			}
			[class^="icon-"], [class*=" icon-"] {
				margin-right: 10px;
				color: #d0d0d0;
				width: 15px;
			}
			a {
				color: $base-color-main;
				text-decoration: none;
			}
			&:hover,
			&.active {
				color: $white-lighten;
				background-color: $base-color-main;
				cursor: pointer;
				[class^="icon-"]:before, [class*=" icon-"]:before {
					color: rgba($white-lighten, 0.4);
				}
				a {
					color: $white-lighten;
				}
			}
		}
		.item {
			display: flex;
			@extend .top__xs;
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}
	}
}

.relative {
	position: relative;
}
