.corporate {
	h3 {
		margin-top: 40px;
		margin-bottom: 20px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 90px;
			margin-bottom: 40px;
		}
	}
	&-inner {
		display: flex;
		flex-wrap: wrap;
		@extend .between__xs;
		text-align: center;
	}
	&-workers {
		&__item {
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: 31%;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 20%;
			}
		}

		i {
			width: 63px;
			height: 63px;
			text-align: center;
			display: flex;
			margin: 0 auto 10px;
			@extend .middle__xs;
			@extend .center__xs;
			border-radius: 100px;
			background-color: #fff0e4;
			font-size: 11px;
			@media screen and (min-width: $screen-md-min) {
				width: 107px;
				height: 107px;
				font-size: inherit;
				margin: 0 auto 20px;
			}
		}
	}
	&-contacts {
		margin-top: 30px;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 90px;
		}
		h4 {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 55px;
			}
		}
		.is-col {
			display: flex;
			@extend .middle__xs;
			margin-bottom: 15px;
			@media screen and (min-width: $screen-lg-min) {
				margin-bottom: 0;
			}
		}
		i {
			width: 53px;
			height: 53px;
			margin-right: 20px;
			border-radius: 50px;
			display: flex;
			@extend .middle__xs;
			@extend .center__xs;
			border: 1px solid #e1e1e1;
		}
	}
}


.slider-guest {
	.btn--primary {
		color: $white-lighten;
		@media screen and (min-width: $screen-lg-min) {
			margin-top: 40px;
		}
	}
}
