//
// Pages -> Index
// ------------------------------------

.hidden {
	display: none;
}

.pages {
	overflow: hidden;
	padding-top: 50px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 100px;
	}
}
.fp-enabled .pages {
	overflow: visible;
	padding-top: 0;
}
.fullpage-wrapper {
	padding-top: 50px;
	@media screen and (min-width: $screen-md-min) {
		padding-top: 100px;
	}
}

.cart {
	padding-bottom: 40px;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 80px;
	}
	label a {
		color: $base-color-main;
		font-size: 14px;
		font-weight: 400;
	}
	h3 {
		margin-bottom: 40px;
	}
	.order {
		@media screen and (min-width: $screen-xl-min) {
			.is-col__xl-3 {
				width: 28%;
			}
		}
	}
	.table {
		border-collapse: separate;
		padding: 15px 15px 0;
		tbody td {
			flex-grow: 1;
			&:first-child {
				width: 35%;
				@media screen and (min-width: $screen-md-min) {
					width: auto;
				}
			}
			&:nth-child(2) {
				width: 45%;
				@media screen and (min-width: $screen-md-min) {
					width: auto;
				}
			}
		}
		td {
			padding: 15px 0;
		}
		@media screen and (min-width: $screen-md-min) {
			padding: 20px 50px;
			td {
				padding: 20px 0;
			}
		}
	}
	&-summ {
		font-size: 20px;
		color: $base-color-main;
	}
	&-order {
		font-size: 15px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 24px;
		}
	}
	&-price {
		font-size: 18px;
		font-weight: 700;
		color: $base-color-main;
		@media screen and (min-width: $screen-md-min) {
			font-size: 30px;
			width: 150px;
		}
	}
	&-count {
		input {
			border: 0;
			width: 30px;
			font-size: 13px;
			text-align: center;
			@media screen and (min-width: $screen-md-min) {
				font-size: 16px;
				width: 40px;
			}
		}
		span {
			font-size: 29px;
			padding: 0 10px;
			cursor: pointer;
			display: inline-block;
		}
		.count {
			width: 110px;
			height: 30px;
			border-radius: 30px;
			border: 1px dashed #d4d4d4;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #2e2e2e;
			@media screen and (min-width: $screen-md-min) {
				margin: auto;
				width: 139px;
				height: 60px;
			}
		}
	}
	.conditions {
		margin-top: 20px;
		padding: 20px;
		border: 10px solid #f5f5f5;
		@media screen and (min-width: $screen-md-min) {
			margin-top: 50px;
			padding: 40px;
		}
		@media screen and (min-width: $screen-xl-min) {
			margin-top: 110px;
			padding: 55px;
		}
		h4 {
			margin-top: 0;
			margin-bottom: 25px;
		}
		b {
			display: inline-block;
			margin-bottom: 10px;
		}
		li {
			margin-bottom: 20px;
		}
		a {
			color: $base-color-main;
		}
	}
}

.banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 175px;
	color: $white-lighten;
	padding: 20px;
	margin: 20px 0;
	background: url("../images/cart-ban.jpg") no-repeat center / cover;
	h4 {
		font-size: 16px;
		@media screen and (min-width: $screen-md-min) {
			font-size: 24px;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		margin: 40px 0;
		padding: 0 50px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding: 0 100px;
	}
	> * {
		color: $white-lighten;
		margin: 0;
		@media screen and (min-width: $screen-md-min) {
			width: 100%;
			width: auto;
		}
	}
}

.category {
	position: relative;
	img {
		//height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&-item {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		@media screen and (max-width: $screen-sm-max) {
			background: $white-lighten !important;
			h5 {
				display: none;
			}
		}
		h2 {
			//margin-top: 0;
			margin-bottom: 20px;
		}
		@media screen and (min-width: $screen-md-min) {
			color: $white-lighten;
			height: 640px;
			background: url("../images/category.jpg") no-repeat center / cover;
			.breadcrumbs {
				position: absolute;
				top: 0;
			}
			.breadcrumbs__item::before,
			.breadcrumbs__item.active {
				color: $white-lighten;
			}
		}
		#filters {
			li:first-child {
				margin-left: 5px;
			}
		}
	}
}
@media screen and (min-width: $screen-md-min) {
	.catalog {
		.mainSection-item:first-child {
			min-height: calc(100vh - 100px - 10vw) !important;
		}
	}
	.catalogPage.catalog {
		.mainSection-item:first-child {
			height: 300px;
		}
	}
}
.grid-list {
	@media screen and (min-width: $screen-md-min) {
		position: absolute;
		bottom: 20px;
		z-index: 99;
	}
}
.is-col__xs-12.grid-item {
	@media screen and (max-width: $screen-xs-max) {
		padding-left: 0;
		padding-right: 0;
	}
}
#filters {
	width: 100%;
	margin-left: 0;
	@media screen and (min-width: $screen-md-min) {
		width: auto;
	}
}
#sort,
#filters {
	margin-bottom: 0;
	li {
		border-bottom: 2px solid transparent;
		cursor: pointer;
		font-size: 14px;
		padding-left: 0;
		padding-right: 0;
		margin-right: 4px;
		@media screen and (min-width: $screen-sm-min) {
			margin-right: 10px;
		}
		@media screen and (min-width: $screen-md-min) {
			font-size: 18px;
			color: $white-lighten;
			margin-left: 20px;
			margin-right: 0;
		}
		@media screen and (min-width: $screen-lg-min) {
			margin-left: 30px;
		}
		&:hover,
		&.active {
			color: $base-color-main;
			border-color: $base-color-main;
		}
	}
}

#sort {
	margin-bottom: 11px;
	@media screen and (min-width: $screen-md-min) {
		margin-bottom: 0;
	}
}

.white-popup-block {
	.table {
		tbody {
			td {
				flex-grow: 1;
			}
		}
	}
}


.is-col__xxl-6 {
	@media screen and (min-width: $screen-xl-min) and (max-width: 1500px) {
		width: 50%;
	}
}
