.news {
	margin-bottom: 80px;
	&-item {
		margin-bottom: 20px;
		text-decoration: none;
		a {
			display: block;
			text-decoration: none;
		}
	}
	&-title {
		padding: 10px;
		height: 90px;
		font-size: 20px;
		display: flex;
		text-align: center;
		@extend .middle__xs;
		@extend .center__xs;
		border-bottom: 1px solid #e7e7e7;
	}

	#filters {
		li {
			color: $black;
			&:hover,
			&.active {
				color: $base-color-main;
			}
		}
	}
}


h1 {
	@media screen and (min-width: $screen-md-min) {
		margin: 0;
	}
}
