.guest {
	padding-bottom: 30px;
	@media screen and (min-width: $screen-md-min) {
		padding-bottom: 80px;
	}
	@media screen and (min-width: $screen-xl-min) {
		padding-bottom: 100px;
	}
	h2 {
		margin-top: 0;
	}
	&-item {
		color: $white-lighten;
		position: relative;
		display: block;
		&:hover {
			color: $white-lighten;
		}
		.inner {
			position: absolute;
			left: 15px;
			top: 20px;
			width: 80%;
			@media screen and (min-width: $screen-md-min) {
				left: 70px;
				top: 50px;
			}
			@media screen and (min-width: $screen-xl-min) {
				left: 100px;
				top: 70px;
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		@extend .between__xl;
		@extend .center__xs;
		padding: 20px 5px;
		border: 10px solid #f5f5f5;
		margin: 40px 0;
		text-align: center;
		@media screen and (min-width: $screen-md-min) {
			margin: 90px 0;
			padding: 50px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 50px 80px;
		}
		i {
			width: 63px;
			height: 63px;
			text-align: center;
			display: flex;
			margin: 0 auto 10px;
			@extend .middle__xs;
			@extend .center__xs;
			border-radius: 100px;
			background-color: #fff0e4;
			font-size: 11px;
			@media screen and (min-width: $screen-md-min) {
				width: 107px;
				height: 107px;
				font-size: inherit;
				margin: 0 auto 20px;
			}
			&.icons--guest-3 {
				font-size: 13px;
			}
		}
		> * {
			margin-bottom: 15px;
			width: 48%;
			.text__lg {
				font-size: 15px;
				@media screen and (min-width: $screen-md-min) {
					font-size: 18px;
				}
			}
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 30px;
				width: 31%;
			}
			@media screen and (min-width: $screen-lg-min) {
				width: 29%;
			}
			@media screen and (min-width: $screen-xl-min) {
				width: 17%;
				margin-bottom: 0;
			}
		}
	}
	&-form {
		padding: 20px 10px;
		margin: 30px 0 10px;
		position: relative;
		@media screen and (min-width: $screen-md-min) {
			border: 10px solid #f5f5f5;
		}
		.checkbox {
			margin-bottom: 10px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			margin: 70px 0 30px;
			padding: 50px;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding: 50px 80px;
		}
		h4 {
			margin-top: 0;
		}
		p {
			margin-top: 0;
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 40px;
			}
		}

	}
}

.form {
	.sent-form {
		display: none;
		.btn {
			margin-top: 20px;
			@media screen and (max-width: $screen-sm-max) {
				width: 90%;
			}
		}
	}
	&.sent {
		position: relative;
		background: url("../images/icons/comment.png") no-repeat center, #f5f5f5;
		> h3,
		> h4,
		> p,
		> div {
			opacity: 0;
		}
		.sent-form {
			display: block;
			opacity: 1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
.slider-guest {
	.swiper-slide {
		height: 290px;
		z-index: 9;
		@media screen and (min-width: $screen-md-min) {
			@include transition();
			height: auto;
		}
		@media screen and (min-width: $screen-lg-min) {
			width: 80%;
		}
		&.swiper-slide-next {
			filter: blur(5px);
			transform: scale(0.9) translateX(-200px);
			z-index: 8;
			.inner {
				opacity: 0;
			}
		}
		img {
			object-fit: contain;
			max-width: inherit;
			@media screen and (min-width: $screen-md-min) {
				width: 100%;
			}
		}
	}
	.swiper-pagination {
		position: absolute;
		left: 15px;
		bottom: 20px;
		width: auto;
		color: $white-lighten;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 3.2px;
		@media screen and (min-width: $screen-md-min) {
			left: 70px;
			bottom: 50px;
			font-size: 20px;
		}
		@media screen and (min-width: $screen-xl-min) {
			left: 100px;
			bottom: 70px;
		}
		span {
			&:before{
				content: "0"
			}
		}
		.swiper-pagination-current {
			display: block;
			font-size: 28px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 45px;
			}
		}
	}
	.swiper-navigation {
		width: 60px;
		position: absolute;
		bottom: 20px;
		left: 80%;
		z-index: 10;
		@media screen and (min-width: $screen-md-min) {
			//bottom: 50px;
			left: 80%;
		}
		@media screen and (min-width: $screen-lg-min) {
			left: 70%;
		}
		@media screen and (min-width: $screen-xl-min) {
			bottom: 70px;
		}
	}
	.swiper-btn {
		color: $white-lighten;
		@include transition();
		margin-left: 0;
		margin-right: 0;
		&:hover {
			color: $black;
			background: $white-lighten;
		}
	}
}
