.share {
	margin: 40px 0;
	@media screen and (min-width: $screen-md-min) {
		min-height: calc(100vh - 632px);
	}
	@media screen and (min-width: $screen-xl-min) {
		margin: 50px 0;
		min-height: auto;
	}
	h2 {
		font-weight: 400;
	}
	p {
		margin-bottom: 15px;
		@media screen and (min-width: $screen-xl-min) {
			margin-bottom: 30px;
		}
	}
	.breadcrumbs {
		padding-bottom: 30px;
		@media screen and (min-width: $screen-md-min) {
			padding-top: 0;
		}
		@media screen and (min-width: $screen-xl-min) {
			padding-bottom: 50px;
		}
		+ * {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-xl-min) {
				margin-bottom: 30px;
			}
		}
	}
	&-subtitle {
		@extend .flex;
		@extend .middle__xs;
		font-size: 17px;
		margin-bottom: 25px;
		:last-child {
			font-size: 15px;
			margin-left: 30px;
		}
	}
	&-soc {
		font-size: 16px;
		@extend .middle__xs;
		@extend .between__xs;
		@media screen and (min-width: $screen-md-min) {
			margin: 40px 0 20px;
			display: flex;
			flex-wrap: wrap;
		}
		.text--uppercase {
			margin-bottom: 10px;
			margin-top: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 0;
				margin-top: 0;
			}
		}
		a {
			color: $base-color-main;
			width: 46px;
			height: 46px;
			display: inline-flex;
			margin-right: 5px;
			@extend .middle__xs;
			@extend .center__xs;
			border: 1px solid #e1e1e1;
			border-radius: 50px;
			text-decoration: none;
			&:hover {
				color: $white-lighten;
				background: $base-color-main;
			}
		}
	}
}
