.vacancy {
	&-cart {
		margin-bottom: 20px;
		padding: 5px 40px;
		height: 160px;
		display: flex;
		flex-direction: column;
		@extend .center__xs;
		background: url("../images/frame.png") no-repeat top center / 100% 100%;
		@media screen and (min-width: $screen-md-min) {
			height: 180px;
		}
		@media screen and (min-width: $screen-lg-min) {
			height: 200px;
			padding: 5px 70px;
		}
		@media screen and (min-width: $screen-xl-min) {
			height: 220px;
		}
	}
	h5 {
		font-size: 22px;
		margin: 0;
	}
	.accordion-item {
		border-top: 1px solid $base-color-main;
		border-bottom: 1px solid $base-color-main;
		margin-bottom: 30px;
		@media screen and (min-width: $screen-lg-min) {
			margin-bottom: 60px;
			margin-top: 20px;
		}
		.accordion-header {
			padding: 15px 20px 15px 0;
			@media screen and (min-width: $screen-md-min) {
				padding: 25px 25px 25px 0;
			}
			&::before {
				color: $base-color-main;
				@media screen and (min-width: $screen-md-min) {
					top: 19px;
				}
			}
		}
		.accordion-content {
			padding: 0;
			&__item {
				background-color: #f7f7f7;
				padding: 20px;
				margin-bottom: 10px;
				@media screen and (min-width: $screen-md-min) {
					padding: 50px;
				}
			}
			.subheader {
				@extend b;
				@extend .text--uppercase;
				@extend .text--primary;
				margin-top: 20px;
				margin-bottom: 10px;
			}
			.btn {
				max-width: 250px;
				width: 100%;
				margin-top: 10px;
				@media screen and (min-width: $screen-md-min) {
					margin-top: 30px;
				}
			}
			ul {
				margin-bottom: 20px;
				li {
					&::before {
						content: '—';
						font-size: 20px;
						margin-right: 20px;
					}
				}
			}
		}
	}
	form {
		.radio,
		.checkbox {
			height: 50px;
			label {
				top: 16px;
				position: relative;
				@media screen and (min-width: $screen-md-min) {
					top: 13px;
				}
			}
		}
		.btn {
			font-size: 12px;
			margin-top: 20px;
			width: 100%;
			@media screen and (min-width: $screen-md-min) {
				width: auto;
			}
		}
		h3 {
			margin-top: 0;
			margin-bottom: 30px;
		}
		&.guest-form {
			margin-top: 20px;
		}
	}
}

p {
	img, span {
		vertical-align: middle;
	}
	span + img,
	img + span {
		margin-left: 15px;
	}
}
