.works {
	//.swiper-navigation {
	//	display: flex;
	//}
	.slider-guest {
		//.swiper-btn {
		//	width: auto;
		//	margin-left: 10px;
		//	padding: 0 10px;
		//	@media screen and (min-width: $screen-md-min) {
		//		//width: 130px;
		//		padding: 0 20px;
		//		font-size: 24px;
		//	}
		//	[class^="icon-"]:before, [class*=" icon-"]:before {
		//		margin: 0;
		//	}
		//	span {
		//		font-size: 1.2rem;
		//	}
		//	span + span {
		//		margin-left: 0.5rem;
		//	}
		//}
		h3 {
			margin-top: 0;
		}
		.text__lg {
			font-size: 13px;
			@media screen and (min-width: $screen-md-min) {
				font-size: 18px;
			}
		}
		//.swiper-navigation {
		//	width: auto;
		//	left: 35%;
		//	@media screen and (min-width: $screen-md-min) {
		//		left: 50%;
		//	}
		//	@media screen and (min-width: $screen-lg-min) {
		//		left: 45%;
		//	}
		//	@media screen and (min-width: $screen-xl-min) {
		//		left: 53%;
		//	}
		//}
	}
	&-icon {
		@media screen and (max-width: $screen-sm-max) {
			img {
				width: 65%;
			}
		}
		@media screen and (min-width: $screen-md-min) {
			text-align: center;
		}
		@media screen and (min-width: $screen-lg-min) {
			text-align: left;
		}
	}
	&-blockqoute {
		border: 10px solid #f5f5f5;
		border-top: 0;
		@extend .is-col__lg-11;
		margin: auto;
		padding: 15px 20px;
		z-index: 0;
		@media screen and (min-width: $screen-md-min) {
			position: relative;
			top: -50px;
			padding: 60px 30px 0;
		}
		@media screen and (min-width: $screen-lg-min) {
			padding: 60px 60px 0;
		}
		.btn {
			width: 100%;
			max-width: inherit;
			@media screen and (min-width: $screen-md-min) {
				width: 240px;
			}
		}
		blockquote {
			&:after {
				content: '';
				display: block;
				width: 30px;
				height: 22px;
				background: url("../images/icons/quote-1.png") no-repeat center / cover;
				position: absolute;
				top: 5px;
				left: 0;
				@media screen and (min-width: $screen-md-min) {
					width: 56px;
					height: 41px;
				}
			}
		}
	}
	&-item {
		padding-bottom: 10px;
		margin-bottom: 30px;
		border-bottom: 2px solid $base-color-main;
		@media screen and (min-width: $screen-md-min) {
			padding-bottom: 20px;
			margin-bottom: 60px;
		}
	}
	&-list {
		margin: 40px 0;
		@media screen and (min-width: $screen-lg-min) {
			margin: 70px 0;
		}
		h3 {
			margin-top: 0;
			@media screen and (max-width: $screen-sm-max) {
				font-size: 16px;
			}
		}
		.icon-plus {
			width: 20px;
			height: 20px;
			display: block;
			font-size: 13px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border-radius: 50%;
			color: $base-color-main;
			background-color: #eeeeee;
			margin-bottom: 10px;
			@media screen and (min-width: $screen-md-min) {
				width: 41px;
				height: 41px;
				font-size: 20px;
				margin-bottom: 20px;
			}
		}
		.active {
			.icon-plus {
				color: $white-lighten;
				background-color: $base-color-main;
				@extend .icon-minus;
			}
		}
	}
	&-review {
		margin: 30px 0;
		@media screen and (min-width: $screen-lg-min) {
			margin: 80px 0;
		}
		&-img {
			@extend .flex;
			@extend .top__md;
			@extend .middle__xs;
			@extend .between__xs;
			margin-bottom: 10px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 0;
			}
			img {
				border-radius: 100px;
				@media screen and (min-width: $screen-md-min) {
					width: 100%;
				}
			}
		}
		h3 {
			margin-bottom: 20px;
			@media screen and (min-width: $screen-md-min) {
				margin-bottom: 50px;
			}
		}
		.swiper-btn {
			@include transition();
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				&:before {
					width: auto;
					margin: 0;
				}
			}
			&:hover {
				background-color: $base-color-main;
				color: $white-lighten;
			}
		}
		//.swiper-navigation {
		//	margin-top: 20px;
		//	@media screen and (min-width: $screen-md-min) {
		//		margin-top: 40px;
		//	}
		//}
		.blockqoute {
			margin: 0;
			padding-top: 0;
			padding-left: 0;
			&:before {
				bottom: 50px;
				@media screen and (max-width: $screen-sm-max) {
					display: none;
				}
			}
		}
	}
}

.works-review .swiper-navigation {
	width: 160px;
	display: flex;
	justify-content: center;
}
