footer.page-footer
	.container.container-max
		.is-row
			.is-col.is-col__xl-8.is-col__lg-7.is-col__md-6.is-col__xs-12
				a.image-ie(href='#'): img(src='images/', alt='')
				script(type='text/javascript', src='https://vk.com/js/api/openapi.js?160')
				#vk_groups
				script(type='text/javascript').
					function VK_Widget_Init() {
						document.getElementById('vk_groups').innerHTML = "";
						VK.Widgets.Group("vk_groups", {mode: 3, width: 'auto', color3: 'FF7200'}, 137545429);
					};
					window.addEventListener('load', VK_Widget_Init, false);
					window.addEventListener('resize', VK_Widget_Init, false);
			.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
				.flex.between__xs
					div
						ul.list--unstyled.margbot60
							li: a(href='#') вход для сотрудников
							li: a(href='#') контакты
						.social.margbot60
							.margbot20: b мы в соц.сетях
							a(href='#'): i.icon-vkontakte
							a(href='#'): i.icon-instagram
					a.btn.btn--primary(href='#') связаться с нами
				.flex.between__xs
					.page-footer__copy © Людилюбят 2018
					.page-footer__logo
						span Разработка сайта:
						a(href='#'): img(src='images/cm_logo.svg', alt='')
