header.page-header
	.container.container-max
		.page-header-inner.is-row.middle__xs.between__xs.nowrap__xs
			.is-col
				.page-header__logo
					a(href="/")
						img(src="images/logo.svg", alt="Люди любят")
			.is-col.visible__sm.visible__xs.page-header__location
				a(href='#'): i.icon-location
			.is-col.is-col__lg-6.is-col__md-7.page-header__nav
				include ../components/_navbar
			.is-col.page-header__loc.hidden__sm.hidden__xs
				a(href='#')
					i.icon-location
					span пекарни
			.is-col.social.hidden__sm.hidden__xs.hidden__md
				a(href='#'): i.icon-vkontakte
				a(href='#'): i.icon-instagram
			.is-col
				a.page-header__cart(href='#')
					i.icons.icons--cart
					span 3
