$icons: (
	  sprite: (width: 1303px, height: 84px, svgPath: '../images/svg/sprite.svg'),
 	arrowDown: (width: 24px, height: 11px, backgroundX: 0px, backgroundY: 0px),
 	arrowRight: (width: 8px, height: 13px, backgroundX: -44px, backgroundY: 0px),
 	cart: (width: 20px, height: 25px, backgroundX: -72px, backgroundY: 0px),
 	carto: (width: 20px, height: 25px, backgroundX: -112px, backgroundY: 0px),
 	cartw: (width: 20px, height: 25px, backgroundX: -152px, backgroundY: 0px),
 	cond-1: (width: 68px, height: 40px, backgroundX: -192px, backgroundY: 0px),
 	cond-2: (width: 52px, height: 60px, backgroundX: -280px, backgroundY: 0px),
 	cond-3: (width: 40px, height: 64px, backgroundX: -352px, backgroundY: 0px),
 	cond-4: (width: 56px, height: 56px, backgroundX: -412px, backgroundY: 0px),
 	corporate-1: (width: 79px, height: 34px, backgroundX: -488px, backgroundY: 0px),
 	corporate-2: (width: 68px, height: 55px, backgroundX: -587px, backgroundY: 0px),
 	corporate-3: (width: 56px, height: 56px, backgroundX: -675px, backgroundY: 0px),
 	corporate-4: (width: 52px, height: 62px, backgroundX: -751px, backgroundY: 0px),
 	guest-1: (width: 65px, height: 64px, backgroundX: -823px, backgroundY: 0px),
 	guest-2: (width: 46px, height: 40px, backgroundX: -908px, backgroundY: 0px),
 	guest-3: (width: 76px, height: 59px, backgroundX: -974px, backgroundY: 0px),
 	guest-5: (width: 52px, height: 52px, backgroundX: -1070px, backgroundY: 0px),
 	info: (width: 32px, height: 32px, backgroundX: -1142px, backgroundY: 0px),
 	mail: (width: 19px, height: 14px, backgroundX: -1194px, backgroundY: 0px),
 	phone: (width: 14px, height: 14px, backgroundX: -1233px, backgroundY: 0px),
 	plane: (width: 16px, height: 14px, backgroundX: -1267px, backgroundY: 0px),
);
