main.page-main.about
	.container
		include ../components/_breadcrumbs
		h1= title
		.slider-guest.swiper-container
			.swiper-wrapper
				- for (var x = 1; x < 7; x++)
					.guest-item.swiper-slide
						.inner
							.is-col__xl-6.is-col__lg-8.is-col__md-7.is-col__xs-11
								h3 Мы стремимся передать свою любовь и заботу через труд  каждого из нашей  команды
						img(src='images/about.jpg', alt='')
			.swiper-settings
				.swiper-navigation
					.swiper-btn.swiper-btn-next: span.icon-right-open
					.swiper-btn.swiper-btn-prev: span.icon-left-open
		.works-blockqoute
			.is-col__xl-10
				blockquote.blockqoute
					h3 Мы создаем только качественную продукцию из натуральных ингредиентов, чтобы сделать жизнь людей ярче и интереснее. Мы не идеальны и не безупречны, ведь мы настоящие!
		.about-list.is-col__xl-9.is-col__lg-10
			.about-list-item
				img(src='images/icons/about-ico-1.svg', alt='')
				p Мы настоящие
			.about-list-item
				img(src='images/icons/about-ico-2.svg', alt='')
				p Печем сами
			.about-list-item
				img(src='images/icons/about-ico-3.svg', alt='')
				p 100% натурально
			.about-list-item
				img(src='images/icons/about-ico-4.svg', alt='')
				p Ручная работа
