main.page-main.about#fullpage
	.section.about-item#section0(style='background: url("images/about-1.jpg") no-repeat center / cover')
		.container
			include ../components/_breadcrumbs
			.is-col__xl-9.is-col__lg-10
				h2 Наша главная задача — наполнять каждый ваш день ощущением праздника, добра и прекрасного  настроения. А лучшей наградой для нас является искренняя улыбка на ваших лицах!
			.number
				div 01
				i.icon-down-open
	.section.about-item#section1(style='background: url("images/about-2.jpg") no-repeat center / cover')
		.container
			.is-col__xl-6.is-col__lg-7
				h4 Мы передаем свою заботу и любовь через труд каждого из участников нашей команды.
				.animated
					h3 Свежий хлеб, ароматная сдоба, нежные пирожные — все, что вы видите на наших полках, создается пекарями и кондитерами вручную и по авторским рецептам.
				.number
					div 02
					i.icon-down-open
	.section.about-item#section2(style='background: url("images/about-3.jpg") no-repeat center / cover')
		.container
			.is-col__xl-6.is-col__lg-7
				h4 Мы передаем свою заботу и любовь через труд каждого из участников нашей команды.
				.animated
					h3 Свежий хлеб, ароматная сдоба, нежные пирожные — все, что вы видите на наших полках, создается пекарями и кондитерами вручную и по авторским рецептам.
				.number
					div 03
					i.icon-down-open
	.section.about-item#section3(style='background: url("images/about-4.jpg") no-repeat center / cover')
		.container
			.is-col__xl-6.is-col__lg-7
				h4 Мы передаем свою заботу и любовь через труд каждого из участников нашей команды.
				.animated
					h3 Мы заботимся о вашем здоровье! Поэтому один из принципов нашей работы — использование только свежих и качественных ингредиентов.
				.number
					div 04
					i.icon-down-open
	.section.text--center.fp-auto-height#section4(style='background: #fff')
		ul.tabs
			li.tab-link.current(data-tab="tab-1"): h2 Новости
			li.tab-link(data-tab="tab-2"): h2 Акции
		- for (var y = 1; y < 3; y++)
			- var current = ''
			- if(y===1) current='current'
			div.tab-content(class=current, id='tab-' + y)
				.slider-news
					.swiper-wrapper
						- for (var x = 1; x < 10; x++)
							a.news-item.swiper-slide(href='#')
								img(src='images/news-'+y+'.jpg', alt='')
								.news-title Встречайте любимые вкусы #[br] в новом формате!
					.swiper-settings
						.swiper-btn.swiper-btn-prev: span.icon-left-open
						.swiper-btn.swiper-btn-next: span.icon-right-open
	.section.fp-auto-height
		include ../partials/_footer
