main.page-main
	section.cart
		.container
			include ../components/_breadcrumbs
			h1 Корзина
			table.table
				thead.hidden__xs.hidden__sm
					tr
						th Вы выбрали
						th Название
						th Цена
						th Кол-во
						th Итого
						th
				tbody
					- for (var x = 1; x < 4; x++)
						tr
							td
								img(src='images/cart.jpg', alt='')
							td
								div Пирог с красной рыбой 1,5 кг
								.cart-count.hidden__xl.hidden__lg.hidden__md
									.count.input__quantity-js
										span.inc -
										input.input__number-js(type='text', value='1')
										span.dec +
							td
								.hidden__xl.hidden__lg.hidden__md: a.delete-cart--js(href='#'): img(src='images/icons/close.png', alt='')
								span 760 #[span.ruble ф]
							td.cart-count.hidden__sm.hidden__xs
								.count.input__quantity-js
									span.inc -
									input.input__number-js(type='text', value='1')
									span.dec +
							td.cart-summ.hidden__sm.hidden__xs: b 760 #[span.ruble ф]
							td.hidden__sm.hidden__xs
								a.delete-cart--js(href='#'): img(src='images/icons/close.png', alt='')
				tfoot
					tr
						td.hidden__sm.hidden__xs(colspan='3')
						td.cart-order Заказ на сумму:
						td.cart-price 6 760 #[span.ruble ф]
						td.hidden__sm.hidden__xs
			.banner
				h4 ЛюдиЛюбят бесплатную доставку! #[br] Закажите ещё на N рублей и платите только за заказ!
				a.btn.btn--primary(href='#'): span Подробнее
			.order
				form.is-row.between__xl(method='POST', action='')
					.is-col.is-col__xl-3.is-col__lg-5.is-col__md-6.is-col__xs-12
						h3 Контактные данные
						+fieldInput('text', 'name', 'name', 'Имя', '', 'Это поле заполнено неверно', true)
						+fieldInput('text', 'phone', 'number', 'Номер телефона', '', 'Это поле заполнено неверно', true)
						+fieldInput('mail', 'mail', 'mail', 'Email', '', false, true)
						+fieldCheckbox('Я согласен на обработку моих ПДН, ознакомиться с политикой конфинденциальности', 'sign', false)
						+fieldTextarea('com', 'com', 'Комментарий', '', 4, false)
					.is-col.is-col__xl-3.is-col__lg-5.is-col__md-6.is-col__xs-12
						h3 Тип доставки
						.radio-inline.form__group.delivery--js
							+fieldRadio('Доставка по адресу', 'delivery1', 'delivery', true)
							+fieldRadio('Самовывоз', 'delivery2', 'delivery', false)
						.hidden(data-value='delivery1', style='display:block')
							.form__group
								.margbot10
									label(for='street') Улица
									input.control(type='text', name='street', id='street')
								.input-inline.input-inline--three
									input.control(type='text', id='house', placeholder='Дом')
									input.control(type='text', id='corp', placeholder='Корпус')
									input.control(type='text', id='flat', placeholder='Квартира')
							.form__group
								label Дата и время доставки
								.input-inline.input-inline--two
									input.control.datepicker-here(placeholder='Дата', type='text', data-language='ru', data-position='bottom left', style='width:50%')
									select(style='width:50%')
										option(selected, disabled) Время
										option 10:00 - 12:00
										option 12:00 - 14:00
										option 14:00 - 16:00
										option 16:00 - 18:00
										option 18:00 - 20:00
										option 20:00 - 22:00
							p Обращаем внимание, что доставка оформляется на х+1 день в случае заказа до 14:00, после 14:00 - на х+2.
							hr
							.prices
								.prices-item
									span Заказ на сумму:
									b 5 760 #[span.ruble ф]
								.prices-item
									span Доставка:
									b 750 #[span.ruble ф]
								.prices-item
									span Всего к оплате:
									b.text--primary 6 760 #[span.ruble ф]
						.hidden(data-value='delivery2')
							.form__group
								label.label-flex
									span Выберите пекарню для получения заказа
									a.popup-modal(href='#mapsme') На карте
								select(style='width:100%')
									option(selected) Ст. метро «Площадь восстания»
									option Ст. метро «Площадь восстания»
									option Ст. метро «Площадь восстания»
							.form__group
								+fieldRadio('50% онлайн-оплата картой, 50% постоплата при получении', 'pay1', 'pay', true)
								+fieldRadio('100% онлайн-оплата картой', 'pay2', 'pay', false)
							hr
							.prices
								.prices-item
									span Всего к оплате:
									b.text--primary 6 760 #[span.ruble ф]
						button.btn.btn--primary.btn--full(type='submit') оплатить заказ
					.is-col.is-col__xl-5.is-col__xs-12
						.conditions
							h4 Условия оформления заказа
							ul.list--unstyled.is-row
								li.is-col.is-col__xl-12.is-col__lg-5.is-col__md-6.is-col__xs-12
									b Время доставки
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
								li.is-col.is-col__xl-12.is-col__lg-5.is-col__md-6.is-col__xs-12
									b Оплата
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
								li.is-col.is-col__xl-12.is-col__lg-5.is-col__md-6.is-col__xs-12
									b Районы доставки
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
								li.is-col.is-col__xl-12.is-col__lg-5.is-col__md-6.is-col__xs-12
									b Стоимость доставки
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
							a(href='') Подробнее
