main.page-main
	section.card
		.container.container-max
			.is-row.between__xs.relative
				.is-col.is-col__xl-7.is-col__xxl-6.is-col__md-6.is-col__xs-12
					.card-img
						.gallery-top.swiper-container
							.swiper-wrapper
								- for (var x = 1; x < 9; x++)
									.swiper-slide
										img(src='images/card.jpg', alt='')
							.swiper-settings
								.swiper-btn.swiper-btnS-prev: span.icon-left-open
								.swiper-btn.swiper-btnS-next: span.icon-right-open
						.gallery-thumbs.swiper-container
							.swiper-wrapper
								- for (var x = 1; x < 3; x++)
									.swiper-slide: img(src='images/mini-card-1.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-2.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-3.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-4.jpg', alt='')
				.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.card-overflow
					.card-desc
						include ../components/_breadcrumbs
						h3 Название продукта в одну или две строки
						.price
							.price-item
								.value 60 #[span.ruble ф]
								.target 0,05кг
							.price-item
								.value 660 #[span.ruble ф]
								.target 0,5кг
						.card-info
							span.icons.icons--info
							span Удвоенное начиление бонусов при покупке этого товара
						.card-add
							.cart-count
								.count.input__quantity-js
									span.inc -
									input.input__number-js(type='text', value='1')
									span.dec +
							.card-btn
								a.btn.btn--primary.btn__lg.btn--full(href='#')
									i.icons.icons--cart
									span в корзину
						.card-lists
							.card-list
								span калории
								b 320
							.card-list
								span белки
								b 32 г
							.card-list
								span жиры
								b 20 г
							.card-list
								span углеводы
								b 40 г
						p.text--gray Калорийность продукта указана на 100гр
						.iconsBlock
							img(src='images/icons/cardSvg-1.svg', alt='')
							img(src='images/icons/cardSvg-2.svg', alt='')
							img(src='images/icons/cardSvg-3.svg', alt='')
							img(src='images/icons/cardSvg-4.svg', alt='')
						h6 описание:
						p Химический состав хлеба с семечками содержит богатый и сбалансированный витаминно-минеральный комплекс, в нём представлены: холин, бета-каротин, витамины: А, В1, В2, В5, В6, В9, Е, Н и РР, а также необходимые организму минеральные вещества: калий, кальций, магний, цинк, селен, медь и марганец, железо, хлор и сера, йод, хром, фтор, молибден, бор и ванадий, кремний, кобальт, фосфор и натрий.
						h6 Состав:
						p Хлеб с семечками обычно выпекается из смеси пшеничной и ржаной муки, с добавлением гречневой или любой другой, по вкусу. Традиционно тесто готовится с использованием опары, а ещё лучше – закваски, оставшейся от предыдущего замеса (калоризатор). Как правило, молоко и куриные яйца в тесто не добавляются, поэтому хлеб получается не сдобный, но ароматный, мягкий и насыщенный.
						p Во все времена люди ежедневно употребляли в пищу хлеб, и всегда старались разнообразить палитру хлебных изделий. В тесто для хлеба каждый народ добавляет тот продукт, которым богат, итальянцы - оливки и базилик, мексиканцы - кукурузу, прибалтийские народы - тмин, а жители наших широт - семечки. Подсолнечные, тыквенные, льняные или кунжутные.
						h4 Рекомендуем попробовать
						.card-rec
							.slider-cards.swiper-container
								.swiper-wrapper
									- for (var x = 1; x < 3; x++)
										a.card-item.swiper-slide(href='#')
											img(src='images/card-1.jpg', alt='')
											p Название продукта в одну или две строки
										a.card-item.swiper-slide(href='#')
											img(src='images/card-2.jpg', alt='')
											p Название продукта в одну или две строки
										a.card-item.swiper-slide(href='#')
											img(src='images/card-3.jpg', alt='')
											p Название продукта в одну или две строки
							.swiper-settings
								.swiper-btn.swiper-btn-prev: span.icon-left-open
								.swiper-btn.swiper-btn-next: span.icon-right-open
						.share-soc
							.text--uppercase поделиться в соц. сетях
							div
								a(href='#'): i.icon-vkontakte
								a(href='#'): i.icon-facebook
								a(href='#'): i.icon-odnoklassniki
