main.page-main
	section.category.catalog.mainSection.catalogPage
		.category-item.mainSection-item
			.container
				include ../components/_breadcrumbs
				.is-col__md-6
					h1= title
					h5 Наш хлеб уникален тем, что делается вручную и выпекается на горячем камне (каменном поду) — аналогичным способом выпекали хлеб в старинных русских печах. Польза нашего хлеба кроется в использовании натуральных заквасок, ценных видов муки, разнообразных злаков. Насыщенный аромат мякиша и хрустящая корочка — его фирменное отличие!
		.mainSection-item
			include ../components/_categoryMain
