main.page-main
	section.category.catalog.catalogPage
		.category-item.mainSection-item(style='background: url("images/categories.jpg") no-repeat center / cover')
			.container
				include ../components/_breadcrumbs
				.is-col__lg-5.is-col__md-6
					h1= title
					h5 Наш хлеб уникален тем, что делается вручную и выпекается на горячем камне (каменном поду) — аналогичным способом выпекали хлеб в старинных русских печах. Польза нашего хлеба кроется в использовании натуральных заквасок, ценных видов муки, разнообразных злаков. Насыщенный аромат мякиша и хрустящая корочка — его фирменное отличие!
				ul.list--inline.grid-list#sort
					li.active(data-sort="all") Все виды
					li(data-sort="rye") Ржаной
					li(data-sort="wheat") Пшеничный
					li(data-sort="ryewheat") Ржано-пшеничный
					li(data-sort="unstoppable") Бездрожжевой
					li(data-sort="bagets") Багеты и чиабатта
		.grid.gallery
			.gallery-column-f.grid-item(class="bagets")
				.gallery-item.gallery-item-category
					+galleryInnerCat(1, 'Багеты и чиабатта')
					img(src='images/index/slide-11.jpg', alt='')
			.gallery-column-f.grid-item(class='bagets')
				.gallery-item
					+galleryInner(6)
					img(src='images/index/slide-16.jpg', alt='')
			.gallery-column-f.grid-item(class='bagets')
				.gallery-item
					+galleryInner(3)
					img(src='images/index/slide-19.jpg', alt='')
			.gallery-column-f.grid-item(class='bagets')
				.gallery-item
					+galleryInner(4)
					img(src='images/index/slide-20.jpg', alt='')
			.gallery-column-f.grid-item(class="rye")
				.gallery-item.gallery-item-category
					+galleryInnerCat(2, 'Ржаной')
					img(src='images/index/slide-12.jpg', alt='')
			.gallery-column-f.grid-item(class='rye')
				.gallery-item
					.stock
					+galleryInner(4)
					img(src='images/index/slide-14.jpg', alt='')
			.gallery-column-f.grid-item(class='rye')
				.gallery-item
					.stock
					+galleryInner(6)
					img(src='images/index/slide-22.jpg', alt='')
			.gallery-column-f.grid-item(class='rye')
				.gallery-item
					+galleryInner(1)
					img(src='images/index/slide-24.jpg', alt='')
			.gallery-column-f.grid-item(class='wheat')
				.gallery-item.gallery-item-category
					+galleryInnerCat(3, 'Пшеничный')
					img(src='images/index/slide-13.jpg', alt='')
			.gallery-column-f.grid-item(class='wheat')
				.gallery-item
					+galleryInner(5)
					img(src='images/index/slide-23.jpg', alt='')
			.gallery-column-f.grid-item(class='wheat')
				.gallery-item
					+galleryInner(4)
					img(src='images/index/slide-27.jpg', alt='')
			.gallery-column-f.grid-item(class='wheat')
				.gallery-item
					+galleryInner(1)
					img(src='images/index/slide-30.jpg', alt='')
			.gallery-column-f.grid-item(class='ryewheat')
				.gallery-item.gallery-item-category
					+galleryInnerCat(5, 'Ржано-пшеничный')
					img(src='images/index/slide-15.jpg', alt='')
			.gallery-column-f.grid-item(class='ryewheat')
				.gallery-item
					+galleryInner(3)
					img(src='images/index/slide-26.jpg', alt='')
			.gallery-column-f.grid-item(class='ryewheat')
				.gallery-item
					+galleryInner(6)
					img(src='images/index/slide-29.jpg', alt='')
			.gallery-column-f.grid-item(class='unstoppable')
				.gallery-item.gallery-item-category
					+galleryInnerCat(2, 'Бездрожжевой')
					img(src='images/index/slide-18.jpg', alt='')
			.gallery-column-f.grid-item(class='unstoppable')
				.gallery-item
					.stock
					+galleryInner(5)
					img(src='images/index/slide-21.jpg', alt='')
			.gallery-column-f.grid-item(class='unstoppable')
				.gallery-item
					+galleryInner(2)
					img(src='images/index/slide-25.jpg', alt='')
			.gallery-column-f.grid-item(class='unstoppable')
				.gallery-item
					.stock
					+galleryInner(5)
					img(src='images/index/slide-28.jpg', alt='')

