main.page-main
	section.conditions
		.container
			include ../components/_breadcrumbs
			h1= title
			h4
				b.text--primary Дорогие гости!
				p В любой из наших  пекарен Вы можете оформить предзаказ тортов и пирогов к нужной дате.
			.flex.between__xs
				.conditions-item
					.conditions-icon
						.conditions-num 1
						i.icons.icons--cond-1
					.text__lg Выберите позиции для заказа в разделе #[b.text--primary Продукция]
				.conditions-item
					.conditions-icon
						.conditions-num 2
						i.icons.icons--cond-2
					.text__lg Перейдите для оформления заказа в #[b.text--primary Корзину]
				.conditions-item
					.conditions-icon
						.conditions-num 3
						i.icons.icons--cond-3
					.text__lg Оплатите заказ на сайте
				.conditions-item
					.conditions-icon
						.conditions-num 4
						i.icons.icons--cond-4
					.text__lg Заберите заказ в указанной Вами пекарне
			.is-col__xl-6.is-col__lg-8.is-col__md-10
				ul.list--number
					li
						h6 Заказ оформляется  за 2 суток
						p Если Вам нужно забрать заказ, например 5го числа, оформить его необходимо  3-го числа до 18.00
					li
						h6 Оформить он-лайн заказ необходимо в разделе #[span.text--primary Предзаказ тортов и пирогов]
						p Обращаем Ваше внимание, что перечень продукции для предзаказа ограничен! Полный перечень доступной для предзаказа продукции отображен в данном разделе.
					li
						h6 Для оформления заказа необходимо произвести он-лайн предоплату
						p К расчету будет представлена сумма в размере 50% от стоимости заказа. #[br] Окончательный платеж  50% необходимо произвести в пекарне при получении заказа. #[br] После оформления он-лайн заказа,  на электронную почту (указанную в заказе) будет отправлен номер  Вашего заказ. #[br] Для подтверждения  заказа в ближайшее время  после его оформления с Вами свяжется менеджер.
					li
						p Заказ необходимо  забрать самостоятельно в любое удобное время,  в указанный срок и именно в той  пекарне, адрес которой был указан в заявке.
					li
						p Для отмены заказа необходимо связаться с менеджером и уточнить условия и сроки возврата денежных средств.
					li
						p В случае невыполнения или отмены заказа, возврат денежных средств совершается в течении 5 рабочих дней на карту, с которой была произведена оплата.
				ul.list--inline
					li: a.btn.btn--primary(href='#') перейти к заказу
					li: a.btn.btn--outlined(href='#') задать вопрос
