main.page-main
	section.contacts
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoOHU9S0Ohhctt2VS6Qu3JrmaIjqFQNYk&callback=initMap", defer)
		.container
			include ../components/_breadcrumbs
			.contacts-title
				h1= title
				ul.tabs
					li.tab-link.current(data-tab="tab-1") Пекарни
					li.tab-link(data-tab="tab-2") Офис
					li.tab-link(data-tab="tab-3") Обратная связь
			#tab-1.tab-content.current.relative
				.objects-map
					#map
				.objects-body
					.objects-body-inner
						h4 Выберите  пекарню
						.objects-body__item#object1(data-adr='59.91701049, 30.31812429', data-type='new')
							include ../components/_contact-item
						.objects-body__item#object2(data-adr='59.91756978, 30.31812429', data-type='new')
							include ../components/_contact-item
						.objects-body__item#object3(data-adr='59.92049517, 30.33250093', data-type='new')
							include ../components/_contact-item
						.objects-body__item#object4(data-adr='59.91701049, 30.3276515', data-type='old')
							include ../components/_contact-item
						.objects-body__item#object5(data-adr='59.91916157, 30.3251195', data-type='old')
							include ../components/_contact-item
			#tab-2.tab-content.relative
				.objects-map
					#mapOf
				.objects-body
					.objects-body-inner
						.objects-body__item#objectOf1(data-adr='59.91701049, 30.31812429')
							h4 Адрес офиса
							.item
								.icon-location
								div г. Санкт-Петербург, #[br] ул. Кантемировская, д. 37
						.objects-body__item#objectOf2(data-adr='59.91756978, 30.31812429')
							h4 Отдел маркетинга
							.item
								.icon-phone
								div 8 (812) 452-42-42
							.item
								.icon-mail
								div info@ludilove.ru
						.objects-body__item#objectOf3(data-adr='59.92049517, 30.33250093')
							h4 HR-отдел
							.item
								.icon-phone
								div 8 (812) 452-42-42
							.item
								.icon-mail
								div info@ludilove.ru
			#tab-3.tab-content.relative
				form.contacts-form.form(method='POST', action='')
					.is-row.top__xs
						.is-col.is-col__lg-4.is-col__md-5.is-col__xs-12
							+fieldInput('text', 'name', 'name', 'Как к вам обращаться?', '', false, true)
							+fieldInput('text', 'phone', 'number', 'Номер телефона', '', false, true)
							+fieldInput('email', 'mail', 'mail', 'Email', '', false, true)
							.form__group
								.file_upload
									span.icon-plus
									span.button Прикрепить  фото
									input(type="file")
						.is-col.is-col__lg-8.is-col__md-7.is-col__xs-12
							.form__group
								+fieldTextarea('com', 'com', 'Введите сообщение', '', 12, false)
							.is-row.between__xs
								.is-col.is-col__lg-6.is-col__xs-12
									.checkbox.form__group
										input(type="checkbox", id='signOf')
										label(for='signOf') Я согласен на обработку моих ПДН, ознакомиться с &nbsp;
											a(href='#') политикой конфинденциальности
								.is-col.is-col__lg-5.is-col__xs-12
									button.btn.btn--primary.btn--full.btn--js(type='submit') отправить
					.text--center.sent-form
						h4 Спасибо! Ваша заявка принята. #[br] Мы свяжемся с Вами в ближайшее время.
						.is-col__lg-3.is-col__md-6.is-col__xs-12
							a.btn.btn--primary.btn--full.sent--js отправить еще
