main.page-main
    section.guest.corporate
        .container
            include ../components/_breadcrumbs
            h1= title
            .slider-guest.swiper-container
                .swiper-wrapper
                    - for (var x = 1; x < 7; x++)
                        .guest-item.swiper-slide
                            .inner
                                h2 Круглосуточные поставки
                                h6 Радуйте людей вкусными плюшками без пауз.
                                a.btn.btn--primary(href='#') Заявка на сотрудничество
                            img(src='images/corporate.jpg', alt='')
                .swiper-settings
                    .swiper-pagination
                    .swiper-navigation
                        .swiper-btn.swiper-btn-next: span.icon-right-open
                        .swiper-btn.swiper-btn-prev: span.icon-left-open
            .corporate-list
                h3 Ассортимент
                .is-row.text--center
                    .is-col.is-col__lg-4.is-col__xs-12
                        img(src='images/magazins.png', alt='')
                        h5 Торты
                        .text--center
                            a.btn.btn--primary(href='#') скачать pdf
                    .is-col.is-col__lg-4.is-col__xs-12
                        img(src='images/magazins.png', alt='')
                        h5 Слойки
                        .text--center
                            a.btn.btn--primary(href='#') скачать pdf
                    .is-col.is-col__lg-4.is-col__xs-12
                        img(src='images/magazins.png', alt='')
                        h5 Хлеба
                        .text--center
                            a.btn.btn--primary(href='#') скачать pdf
            .corporate-workers
                h3 С нами работают
                .corporate-inner
                    .corporate-workers__item
                        i.icons.icons--corporate-1
                        div
                            b Получить легко и просто
                            p Купите на 300 руб. в пекарне и получите сразу карту!
                    .corporate-workers__item
                        i.icons.icons--corporate-2
                        div
                            b Оплачивайте часть покупок бонусами
                            p До 30% можно оплачивать бонусами
                    .corporate-workers__item
                        i.icons.icons--corporate-3
                        div
                            b Следите за новостями и получайте в 2 раза больше бонусов
                            p А почему бы и нет?
                    .corporate-workers__item
                        i.icons.icons--corporate-4
                        div
                            b Получайте подарки и участвуйте в розыгрышах
                            p ЛюдиЛюбят баловать подарки своих!
            form.guest-form.form(method='POST', action='')
                h4 Заявка на сотрудничество
                p Здесь будет находиться вводный текст. Здесь будет находиться вводный текст. Здесь будет находиться вводный текст. Здесь будет находиться вводный текст. Здесь будет находиться вводный текст. Здесь будет находиться вводный текст. Здесь будет находиться вводный текст.
                .is-row.middle__xs
                    .is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
                        +fieldInput('text', 'name', 'name', 'Имя', '', false, true)
                    .is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
                        +fieldInput('text', 'company', 'company', 'Название компании', '', false, true)
                    .is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
                        +fieldInput('text', 'type', 'type', 'Сфера деятельности  ', '', false, true)
                    .is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
                        +fieldInput('text', 'phone', 'number', 'Номер телефона', '', false, true)
                    .is-col.is-col__lg-12.is-col__md-6.is-col__xs-12
                        +fieldInput('text', 'mess', 'mess', 'Комментарий', '', false, true)
                    .is-col.is-col__lg-9.is-col__md-6.is-col__xs-12
                        .checkbox
                            input(type="checkbox", id='sign2')
                            label(for='sign2') Я согласен на обработку моих ПДН, ознакомиться с политикой конфинденциальности
                    .is-col.is-col__lg-3.is-col__md-6.is-col__xs-12
                        button.btn.btn--primary.btn--full.btn--js(type='submit') отправить
                .text--center.sent-form
                    h4 Спасибо! Ваша заявка принята. #[br] Мы свяжемся с Вами в ближайшее время.
                    .is-col__lg-3.is-col__md-6.is-col__xs-12
                        a.btn.btn--primary.btn--full.sent--js отправить еще
            p Условия программы лояльности «ЛюдиЛюбят» могут изменяться, актуальную информацию можно найти на сайте и в соц.сетях компании в разделе «карта гостя».
            .corporate-contacts
                h4 Связаться с отделом корпоративных продаж можно:
                .is-row.between__xs
                    .is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
                        i.icons.icons--phone
                        .text__lg По телефону #[a.text--primary(href='tel:88123333333') (812) 333-33-33] #[br] (Санкт-Петербург)
                    .is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
                        i.icons.icons--mail
                        .text__lg По электронной почте #[br] #[a.text--primary(href='mailto:ludilove@ludilove.ru') ludilove@ludilove.ru]
                    .is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
                        i.icons.icons--plane
                        .text__lg Отправив заявку на сотрудничество


