main.page-main
	section.guest
		.container
			include ../components/_breadcrumbs
			h1= title
			.slider-guest.swiper-container
				.swiper-wrapper
					- for (var x = 1; x < 7; x++)
						a.guest-item.swiper-slide(href='#')
							.inner
								h2 Заголовок для акции
								p Радуйте людей вкусными плюшками без пауз.
							img(src='images/corporate.jpg', alt='')
				.swiper-settings
					.swiper-pagination
					.swiper-navigation
						.swiper-btn.swiper-btn-next: span.icon-right-open
						.swiper-btn.swiper-btn-prev: span.icon-left-open
			.guest-list
				.guest-list__item
					i.icons.icons--guest-1
					.text__lg Копите бонусы
				.guest-list__item
					i.icons.icons--guest-3
					.text__lg Оплачивайте покупки бонусами
				.guest-list__item
					i.icons.icons--guest-2
					.text__lg Принимайте участие в акциях компании
				.guest-list__item
					i.icons.icons--guest-5
					.text__lg Получайте подарки
			.accordion.accordion--border
				- for (var x = 1; x < 5; x++)
					.accordion-item
						.accordion-header: h4 Как получить карту и начать ей пользоваться
						.accordion-content Карту  гость получает на кассе от продавца  вместе с инструкцией и анкетой. #[br] Картой можно пользоваться сразу при получении, она не требует активации и регистраций. #[br] Анкету  можно заполнить при получении  или забрать с собой, и заполнить дома. Заполненную Анкету гость должен опустить в специальный ящик для анкет, который установлен в каждой пекарне.  Заполнение анкеты необходимо для возможности получать индивидуальные спец.предложения.
			form.guest-form(method='POST', action='')
				h4 Если у Вас есть вопросы или предложения по карте гостя, напишите нам
				br
				.is-row.middle__xs
					.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
						+fieldInput('text', 'name', 'name', 'Имя', '', false, true)
					.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
						+fieldInput('text', 'phone', 'number', 'Номер телефона', '', false, true)
					.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
						+fieldInput('email', 'mail', 'mail', 'Email', '', false, true)
					.is-col.is-col__lg-12.is-col__md-6.is-col__xs-12
						+fieldInput('text', 'mess', 'mess', 'Сообщение', '', false, true)
					.is-col.is-col__lg-8.is-col__md-6.is-col__xs-12
						.checkbox
							input(type="checkbox", id='sign3')
							label(for='sign3') Я согласен на обработку моих ПДН, ознакомиться с политикой конфинденциальности
					.is-col.is-col__lg-4.is-col__md-6.is-col__xs-12
						button.btn.btn--primary.btn--full(type='submit') отправить
			p Условия программы лояльности «ЛюдиЛюбят» могут изменяться, актуальную информацию можно найти на сайте и в соц.сетях компании в разделе «карта гостя».
