main.page-main
	section.mainSection
		.mainSection-item.hidden__xs.hidden__sm
			.bottomIcons
				img(src='images/icons/videoSvg-1.svg', alt='')
				img(src='images/icons/videoSvg-2.svg', alt='')
				.scrollDown
					span листайте #[br] вниз
					span.icons.icons--arrowDown
				img(src='images/icons/videoSvg-3.svg', alt='')
				img(src='images/icons/videoSvg-4.svg', alt='')
			.mainSection-background
				video.video(autoplay loop muted)
					source(src="images/videoplayback.mp4" type="video/mp4")
		.mainSection-item
			include ../components/_categoryMain
		.mainSection-item
			include ../components/_categoriesMains
