main.page-main
	section.card
		.container.container-max
			.is-row.between__xs.relative
				.is-col.is-col__xl-7.is-col__md-6.is-col__xs-12
					.card-img
						.gallery-top.swiper-container
							.swiper-wrapper
								- for (var x = 1; x < 9; x++)
									.swiper-slide
										img(src='images/lunch.jpg', alt='')
							.swiper-settings
								.swiper-btn.swiper-btnS-prev: span.icon-left-open
								.swiper-btn.swiper-btnS-next: span.icon-right-open
						.gallery-thumbs.swiper-container
							.swiper-wrapper
								- for (var x = 1; x < 3; x++)
									.swiper-slide: img(src='images/mini-card-1.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-2.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-3.jpg', alt='')
									.swiper-slide: img(src='images/mini-card-4.jpg', alt='')
				.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12
					.card-desc
						include ../components/_breadcrumbs
						h3 Название продукта в одну или две строки
						.price
							.price-item
								.value 190 #[span.ruble ф]
						.card-info
							span.icons.icons--info
							span Удвоенное начиление бонусов при покупке этого товара
						.lunch
							.slider-lunch.swiper-container
								.swiper-wrapper
									- for (var x = 1; x < 3; x++)
										.lunch-item.swiper-slide(data-id='salat-'+x)
											h4.lunch-title Салат
											.lunch-img
												img(src='images/lunch-1.jpg', alt='')
											.lunch-desc
												.flex.between__xs.middle__xs
													b.text__lg Оливье
													.text__lg.text--gray 0.35 кг
												p Какой рецепт салата Оливье считать классическим: тот, по которому его готовил Люсьен Оливье в московском ресторане "Эрмитаж", или "советский", с колбасой и зеленым горошком?
											.card-lists
												.card-list
													span калории
													b 320
												.card-list
													span белки
													b 32 г
												.card-list
													span жиры
													b 20 г
												.card-list
													span углеводы
													b 40 г
											p.text--gray Калорийность продукта указана на 100гр
											a.btn.btn--info.btn--full.select--js(href='#') выбрать
							.swiper-settings
								.swiper-btn.swiper-btnL-prev: span.icon-left-open
								.swiper-btn.swiper-btnL-next: span.icon-right-open
						.lunch
							.slider-lunchS.swiper-container
								.swiper-wrapper
									- for (var x = 1; x < 3; x++)
										.lunch-item.swiper-slide(data-id='soup-'+x)
											h4.lunch-title Суп
											.lunch-img
												img(src='images/lunch-1.jpg', alt='')
											.lunch-desc
												.flex.between__xs.middle__xs
													b.text__lg Солянка
													.text__lg.text--gray 0.35 кг
												p Какой рецепт салата Оливье считать классическим: тот, по которому его готовил Люсьен Оливье в московском ресторане "Эрмитаж", или "советский", с колбасой и зеленым горошком?
											.card-lists
												.card-list
													span калории
													b 320
												.card-list
													span белки
													b 32 г
												.card-list
													span жиры
													b 20 г
												.card-list
													span углеводы
													b 40 г
											p.text--gray Калорийность продукта указана на 100гр
											a.btn.btn--info.btn--full.select--js(href='#') выбрать
							.swiper-settings
								.swiper-btn.swiper-btnS-prev: span.icon-left-open
								.swiper-btn.swiper-btnS-next: span.icon-right-open
						.lunch
							.slider-lunchD.swiper-container
								.swiper-wrapper
									- for (var x = 1; x < 3; x++)
										.lunch-item.swiper-slide(data-id='desert-'+x)
											h4.lunch-title Десерт
											.lunch-img
												img(src='images/lunch-1.jpg', alt='')
											.lunch-desc
												.flex.between__xs.middle__xs
													b.text__lg Слойка
													.text__lg.text--gray 0.35 кг
												p Какой рецепт салата Оливье считать классическим: тот, по которому его готовил Люсьен Оливье в московском ресторане "Эрмитаж", или "советский", с колбасой и зеленым горошком?
											.card-lists
												.card-list
													span калории
													b 320
												.card-list
													span белки
													b 32 г
												.card-list
													span жиры
													b 20 г
												.card-list
													span углеводы
													b 40 г
											p.text--gray Калорийность продукта указана на 100гр
											a.btn.btn--info.btn--full.select--js(href='#') выбрать
							.swiper-settings
								.swiper-btn.swiper-btnD-prev: span.icon-left-open
								.swiper-btn.swiper-btnD-next: span.icon-right-open
						.card-add
							.cart-count
								.count.input__quantity-js
									span.inc -
									input.input__number-js(type='text', value='1')
									span.dec +
							.card-btn
								a.btn.btn--primary.btn__lg.btn--full(href='#')
									i.icons.icons--cart
									span в корзину
						p Химический состав хлеба с семечками содержит богатый и сбалансированный витаминно-минеральный комплекс, в нём представлены: холин, бета-каротин, витамины: А, В1, В2, В5, В6, В9, Е, Н и РР, а также необходимые организму минеральные вещества: калий, кальций, магний, цинк, селен, медь и марганец, железо, хлор и сера, йод, хром, фтор, молибден, бор и ванадий, кремний, кобальт, фосфор и натрий.
						h4 Рекомендуем попробовать
						.card-rec
							.slider-cards.swiper-container
								.swiper-wrapper
									- for (var x = 1; x < 3; x++)
										.card-item.swiper-slide
											img(src='images/card-1.jpg', alt='')
											p Название продукта в одну или две строки
										.card-item.swiper-slide
											img(src='images/card-2.jpg', alt='')
											p Название продукта в одну или две строки
										.card-item.swiper-slide
											img(src='images/card-3.jpg', alt='')
											p Название продукта в одну или две строки
							.swiper-settings
								.swiper-btn.swiper-btn-prev: span.icon-left-open
								.swiper-btn.swiper-btn-next: span.icon-right-open
						.share-soc
							.text--uppercase поделиться в соц. сетях
							div
								a(href='#'): i.icon-vkontakte
								a(href='#'): i.icon-facebook
								a(href='#'): i.icon-odnoklassniki
