main.page-main
	section.news
		.container
			include ../components/_breadcrumbs
			.flex.between__xs.middle__xs
				h1= title
				ul.list--inline#filters
					li.active(data-filter="*") Все публикации
					li(data-filter=".shares") Акции
					li(data-filter=".newss") Новости
			.grid
				.is-row.between__xs
					- for (var x = 1; x < 4; x++)
						.is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12.grid-item.newss
							.news-item
								img(src='images/news-1.jpg', alt='')
								.news-title Встречайте любимые вкусы #[br] в новом формате!
						.is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12.grid-item.shares
							.news-item
								img(src='images/news-2.jpg', alt='')
								.news-title Акция #усынадежды
						.is-col.is-col__lg-4.is-col__sm-6.is-col__xs-12.grid-item.newss
							.news-item
								img(src='images/news-1.jpg', alt='')
								.news-title Встречайте любимые вкусы #[br] в новом формате!
