main.page-main
	section.share
		.container
			.is-row.between__xs
				.is-col.is-col__lg-5.is-col__md-6.is-col__xs-12
					img(src='images/share.jpg', alt='')
				.is-col.is-col__xl-6.is-col__lg-7.is-col__md-6.is-col__xs-12
					include ../components/_breadcrumbs
					h2= title
					.share-subtitle
						.text--primary Акция
						.text--gray Действует до 31 августа 2018 г.
					p Для тех, кто любит праздновать важные события в компании самых-самых близких. Теперь всегда в наличии мини-торты!
					p Ягодный флан, сметанный торт и грушевый чизкейк – вкусные и нежные красавцы весом 600-800 г уже готовы отправиться к вам домой или в гости. И приятный бонус – яркая праздничная коробка для торта в подарок!
					p Мини-торты пока доступны только на витринах Менделеева 10, Большевиков 9, Европейском пр-те 21 и Соборной 17.
					.share-soc
						.text--uppercase поделиться в соц. сетях
						div
							a(href='#'): i.icon-vkontakte
							a(href='#'): i.icon-facebook
							a(href='#'): i.icon-odnoklassniki
