main.page-main
	section.vacancy
		.container
			include ../components/_breadcrumbs
			h1= title
			.accordion.accordion--border
				h3 Вакансии пекарен
				.is-col__xl-6.is-col__lg-7
					p Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует.
				.accordion-item
					.accordion-header
						h5 Посмотреть вакансии
					include ../components/_accordion-content
				h3 Вакансии производства
				.is-col__xl-6.is-col__lg-7
					p Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует.
				.accordion-item
					.accordion-header
						h5 Посмотреть вакансии
					include ../components/_accordion-content
				h3 Вакансии офиса
				.is-col__xl-6.is-col__lg-7
					p Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует.
				.accordion-item
					.accordion-header
						h5 Посмотреть вакансии
					include ../components/_accordion-content
				form.guest-form.form(method='POST', action='')
					h4 Если Вы не нашли интересующую вакансию, заполните анкету ниже и мы свяжемся с Вами при ее появлении.
					br
					.is-row
						.is-col.is-col__lg-6.is-col__xs-12
							+fieldInput('text', 'name', 'name', 'ФИО*', '', false, true)
							.is-row
								.is-col.is-col__md-6.is-col__xs-12
									+fieldInput('text', 'phone', 'number', 'Как с вами связаться? *', '', false, true)
								.is-col.is-col__md-6.is-col__xs-12
									+fieldInput('email', 'mail', 'mail', 'Email', '', false, true)
							+fieldInput('text', 'letter', 'letter', 'Сопроводительное письмо', '', false, true)
						.is-col.is-col__lg-6.is-col__xs-12
							.is-row.bottom__xs
								.is-col.is-col__md-4.is-col__xs-12
									.form__group
										label Дата рождения*
										input.control.datepicker-here(placeholder='Дата', type='text', data-language='ru', data-position='bottom left')
								.is-col.is-col__md-3.is-col__xs-4
									.form__group
										label Гражданство*
										.checkbox
											input(type="checkbox", id='sign4', checked)
											label(for='sign4') Россия
								.is-col.is-col__md-5.is-col__xs-8
									+fieldInput('text', 'other', 'other', '', 'Другое', false, true)
							.form__group
								label Выберете интересующее Вас направление
								.radio-inline.form__group.delivery--js
									+fieldRadio('Производство', 'delivery1', 'delivery', true)
									+fieldRadio('Офис', 'delivery2', 'delivery', false)
									+fieldRadio('Пекарня', 'delivery3', 'delivery', false)
							.form__group
								label Загрузить готовое резюме
								.file_upload
									span.icon-plus
									span.button Прикрепить резюме
									input(type="file")
						.is-col.is-col__xs-12
							button.btn.btn--primary.btn--js(type='submit') Отправить анкету
					.text--center.sent-form
						h4 Спасибо! Ваша заявка принята. #[br] Мы свяжемся с Вами в ближайшее время.
						.is-col__lg-3.is-col__md-6.is-col__xs-12
							a.btn.btn--primary.btn--full.sent--js отправить еще
