main.page-main
	section.works
		.container
			include ../components/_breadcrumbs
			h1= title
			.slider-guest.swiper-container
				.swiper-wrapper
					- for (var x = 1; x < 7; x++)
						.guest-item.swiper-slide
							.inner
								h3 Вакансии производства
								p.text__lg Кондитерские и хлебобулочные изделия полностью разработаны и сделаны нашими специалистами.  Используя сырье высочайшего качества, знания и опыт мастеров высокого уровня, технологии и оборудование от ведущих производителей, мы создаем продукт, который любят наши покупатели.
							img(src='images/works.jpg', alt='')
				.swiper-settings
					.swiper-pagination
					.swiper-navigation
						.swiper-btn.swiper-btn-next: span.icon-right-open
						.swiper-btn.swiper-btn-prev: span.icon-left-open
			.works-blockqoute
				.is-row.middle__xs
					.is-col.is-col__md-5.is-col__xs-12
						a.btn.btn--primary(href='#') все вакансии
					.is-col.is-col__md-7.is-col__xs-12
						blockquote.blockqoute
							p Никто не может вернуться назад и совершить другой старт. #[br] Но каждый может начать сегодня и прийти к другому финишу.
							i.text--primary – Карл Бард
			.works-list
				.is-row.between__xs
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.flex
						.works-icon.is-col__xs-3
							img(src='images/icons/works-1.svg', alt='')
						.works-item.is-col__lg-8.is-col__xs-9
							h3 Лучший коллектив более 300 сотрудников
							.works--js
								span.icon-plus
							.hidden Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует. В программе заботы о сотрудниках большое внимание уделяется совершенствованию знаний и навыков сотрудников, обеспечению их профессионального роста, а также созданию положительной и стимулирующей рабочей атмосферы.
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.flex
						.works-icon.is-col__xs-3
							img(src='images/icons/works-3.svg', alt='')
						.works-item.is-col__lg-8.is-col__xs-9
							h3 Преимущества работы в компании
							.works--js
								span.icon-plus
							.hidden Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует. В программе заботы о сотрудниках большое внимание уделяется совершенствованию знаний и навыков сотрудников, обеспечению их профессионального роста, а также созданию положительной и стимулирующей рабочей атмосферы.
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.flex
						.works-icon.is-col__xs-3
							img(src='images/icons/works-2.svg', alt='')
						.works-item.is-col__lg-8.is-col__xs-9
							h3 Ценностные ориентиры
							.works--js
								span.icon-plus
							.hidden Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует. В программе заботы о сотрудниках большое внимание уделяется совершенствованию знаний и навыков сотрудников, обеспечению их профессионального роста, а также созданию положительной и стимулирующей рабочей атмосферы.
					.is-col.is-col__xl-5.is-col__md-6.is-col__xs-12.flex
						.works-icon.is-col__xs-3
							img(src='images/icons/works-4.svg', alt='')
						.works-item.is-col__lg-8.is-col__xs-9
							h3 Кого мы ждем?
							.works--js
								span.icon-plus
							.hidden Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует. В программе заботы о сотрудниках большое внимание уделяется совершенствованию знаний и навыков сотрудников, обеспечению их профессионального роста, а также созданию положительной и стимулирующей рабочей атмосферы.
			.works-review
				h3 Истории и отзывы сотрудников
				.slider-review.swiper-container
					.swiper-wrapper
						- for (var x = 1; x < 7; x++)
							.swiper-slide
								.is-row
									.is-col.is-col__md-3.is-col__xs-12.works-review-img
										img(src='images/ava.png', alt='')
										.visible__xs.visible__sm.text__sm.is-col__xs-7
											i.text--primary – Алексеева Алина Сергеевна
											.text--grey.between__xs
												p Менеджер по продажам
												p 26 декабря, 2018
									.is-col.is-col__md-9.is-col__xs-12
										blockquote.blockqoute
											p Наша программа заботы о сотрудниках основывается на четырёх ключевых ценностях — высокой нравственности, расширении полномочий, открытости и командном духе. Уважение и защита прав наших сотрудников является фундаментальным принципом, которому компания неизменно следует. В программе заботы о сотрудниках большое внимание уделяется совершенствованию знаний и навыков сотрудников, обеспечению их профессионального роста, а также созданию положительной и стимулирующей рабочей атмосферы.
											.hidden__xs.hidden__sm
												.text__lg: i.text--primary – Алексеева Алина Сергеевна
												.flex.text__sm.text--grey.between__xs
													p Менеджер по продажам
													p 26 декабря, 2018
					.swiper-settings
						.swiper-navigation
							.swiper-btn.swiper-btnR-prev
								span.icon-left-open
							.swiper-btn.swiper-btnR-next
								span.icon-right-open
