//- mixins


//- menu
mixin menu(items)
	ul.main-nav
		each item in items
			- var parent  = ''
			- if(item.subitems !== false) parent='main-nav__item--parent'
			li.main-nav__item(class=parent)
				a.main-nav__link(href=item.href, title=item.title)= item.title
				- if(item.subitems !== false)
				ul.sub-nav
					each subitem in item.subitems
						li.main-nav__item
							a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

mixin galleryInner(img)
	a.gallery-inner(href='#')
		h5
			.img: img(src='images/icons/icons-' + img + '.svg', alt='')
			span Название продукта в одну #[br] или две строки
		.flex
			div
			.hidden__sm.hidden__xs.hidden__md
				span подробнее
				i.icon-right-open
	a.btn-abs.btn.btn--primary.popup-modal(href='#modal')
		i.icons.icons--carto
		span в корзину

mixin galleryInnerCat(img, cat)
	a.gallery-inner(href='#')
		h4
			.img: img(src='images/icons/icons-' + img + '.svg', alt='')
			span=cat

//- form-input
mixin fieldInput(type, name, id, label, placeholder, errorText, required)
	- var error = ''
	- if(errorText !== false) error='error'
	.form__group(class=error)
		label(for=id)
			span= label
			- if(errorText)
				span.error= errorText
		input.control(type=type, name=name, id=id, placeholder=placeholder, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, required)
	label(for=id)= label
	textarea.control(name=name, id=id, placeholder=placeholder, rows=rows, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
	.checkbox.form__group
		input(type="checkbox", id=id, checked=checked)
		label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
	.radio
		input(type="radio", id=id, value=id, name=label, checked=checked)
		label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
	.article
		.article-wrapper
			h1= title
			if block
				block
			else
				p No content provided
