extends layouts/_default

block title
	title Case__fly
	- var title = 'О нас'

block pageName
	-var pageName = "index"


block siteHeader
	include partials/_header

block siteMain
	include pages/_aboutNew

block siteFooter
	include partials/_footer
