extends layouts/_default

block title
    title Case__fly
    - var title = 'Название продукта'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
