extends layouts/_default

block title
    title Case__fly
    - var title = 'Условия предзаказа'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_conditions

block siteFooter
    include partials/_footer
