extends layouts/_default

block title
    title Case__fly
    - var title = 'Карта гостя'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_guest

block siteFooter
    include partials/_footer
