extends layouts/_default

block title
    title Case__fly
    - var title = 'Бизнес-ланч со скидкой 25 %'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_share

block siteFooter
    include partials/_footer
