//- Custom Configuration
block config
	- var baseUrl = '/'
	-var adaptive = true // choose website type

doctype html
html(lang="en")

	include ../mixins/_mixins

	head
		meta(charset="UTF-8")

		block title
			title Case__fly
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		<![endif]-->
		if adaptive == true
			meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="keywords", content="")

		meta(name='author', content='')
		link(rel="canonical" href="")
		meta(name="format-detection", content="telephone=no")
		meta(name="format-detection", content="address=no")

		// iOS
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="apple-mobile-web-app-title", content="")
		link(rel="apple-touch-icon", href="images/touch/apple-touch-icon.png")

		// Android
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="theme-color", content="#f8aa27")
		link(rel="icon" type="image/png" href="images/touch/android-chrome-192x192.png" sizes="192x192")

		// Windows
		meta(name="msapplication-TileImage", content="images/touch/mstile-144x144.png")
		meta(name="msapplication-TileColor", content="#f8aa27")

		// Standard
		link(rel="icon", type="image/png", href="images/touch/favicon.png", sizes="128x128")

		link(rel="shortcut icon", href="favicon.ico")

		// Styles
		//- build:css({.tmp,app}) styles/plugins.css -->
		<!--bower:css-->
		<link rel="stylesheet" href="../bower_components/swiper/dist/css/swiper.css" />
		<link rel="stylesheet" href="../bower_components/magnific-popup/dist/magnific-popup.css" />
		<link rel="stylesheet" href="../bower_components/fullpage.js/dist/fullpage.css" />
		<link rel="stylesheet" href="../bower_components/air-datepicker/dist/css/datepicker.css" />
		<link rel="stylesheet" href="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
		<!--endbower-->
		<link rel="stylesheet" href="../bower_components/select2/dist/css/select2.css" />
		//- endbuild -->
		//- build:css({.tmp,app}) styles/main.css -->
		link(rel="stylesheet", href="styles/main.css")
		//- endbuild -->

	block pageName
		-var pageName = "main"

	body(class="page-" + pageName)
		<!--[if lt IE 9]>
		p.browsehappy
			| Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
			a(href="http://browsehappy.com/", target="_blank") современных браузеров.
			|  Это бесплатно и займет всего несколько минут.
		<![endif]-->
		.preloader-wrapper
			.blobs
				.blob-center: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')
				.blob: img(src='images/icons/loader.svg', alt='')

		include  ../components/_popup

		.scrollup
			.scrollup-inner
				i.icon-up-open
				span наверх

		.pages
			//- header
			block siteHeader
			//- main
			block siteMain
			//- footer
			block siteFooter

		block scripts
			<!--[if lt IE 9]>
			script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
			<![endif]-->
			//- build:js(./app/) scripts/plugins.js -->
			<!--bower:js-->
			<script src="../bower_components/jquery/dist/jquery.js"></script>
			<script src="../bower_components/swiper/dist/js/swiper.js"></script>
			<script src="../bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
			<script src="../bower_components/fullpage.js/dist/fullpage.js"></script>
			<script src="../bower_components/select2/dist/js/select2.js"></script>
			<script src="../bower_components/air-datepicker/dist/js/datepicker.js"></script>
			<script src="../bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
			<script src="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
			<script src="../bower_components/instafeed.js/instafeed.js"></script>
			<script src="../bower_components/ev-emitter/ev-emitter.js"></script>
			<script src="../bower_components/imagesloaded/imagesloaded.js"></script>
			<!--endbower-->
			script(src="scripts/plugins/jquery.maskedinput.min.js")
			script(src="scripts/plugins/isotope.pkgd.min.js")
			//- endbuild -->
			//- build:js(.tmp) scripts/main.js -->
			script(src="scripts/main.js")
			//- endbuild -->
